		<footer>
			<div class='container-fluid' id='footer-wrapper'>
				<div class='footer-col' id='footer-logo-col'>
					<img id='footer-logo' src='/media/branding/logo_est_reg.png'>
				</div>
				<div class='footer-col' id='footer-nav-col'>
					<div class='footer-col-header'>
						<p>Navigation</p>
					</div>
					<div class='footer-col-nav'>
					<% if(!currentUser) { %>
		  				<div class='footer-nav-section'>
		  					<a class='footer-nav-item' href='/news'>News</a>
			  				<a class='footer-nav-item' href='/events'>Events &amp; Tournaments</a>
						  	<a class='footer-nav-item' href='/overwatch-league'>Overwatch League</a>
						  	<a class='footer-nav-item' href='/login'>Login</a>
						  	<a class='footer-nav-item' href='/register'>Set Up Your META</a>
		  				</div>
					  	<% } else { %>
					  	<div class='footer-nav-section'>
						  	<a class='footer-nav-item' href='/meta'>My META</a>
						  	<a class='footer-nav-item' href='/news'>News</a>
						  	<a class='footer-nav-item' href='/events'>Events &amp; Tournaments</a>
						  	<a class='footer-nav-item' href='/overwatch-league'>Overwatch League</a>
						  	<a class='footer-nav-item' href='/logout'>Logout</a>						  		
					  	</div>
					  	<% }; %>
					  	<div class='footer-nav-section'>
					  		<a class='footer-nav-item' href='/info#about'>About Us</a>
						  	<a class='footer-nav-item' href='/info#faq'>FAQ</a>
						  	<a class='footer-nav-item' href='/contact'>Contact</a>
						  	<a class='footer-nav-item' href='/write-for-us'>Write for us!</a>
					  	</div>
					</div>
				</div>
				<div class='footer-col' id='footer-social-col'>
					<div class='footer-col-header'>
						<p>EST Social</p>
					</div>
					<div id='footer-social-links'>
						<a href='https://www.twitter.com/esttweets' target='_blank'>Twitter</a>
						<a href='https://www.facebook.com/esportsterminal' target='_blank'>Facebook</a>
						<a href='https://www.instagram.com/esportsterminal' target='_blank'>Instagram</a>
					</div>
				</div>
			</div>
		</footer>
  	</body>
</html>			
			
			
			
			
			
			
			<!--<div class='container-fluid'>-->
			<!--	<div class='footer-flex'>-->
			<!--		<div class='footer-flex-col' id='footer-logo-col'>-->
			<!--			<img id='footer-logo' src='/media/branding/logo_est_reg.png'>-->
			<!--		</div>-->
			<!--		<div class='footer-flex-col'>-->
			<!--			<div class='footer-header'>-->
			<!--				<p>Navigation</p>-->
			<!--			</div>-->
			<!--			<div class='footer-nav'>-->
			  				<!--<% if(!currentUser) { %>-->
			  				<!--<div class='footer-nav-col'>-->
			  				<!--	<a class='footer-nav-item' href='/news'>News</a>-->
				  			<!--	<a class='footer-nav-item' href='/events'>Events &amp; Tournaments</a>-->
							  <!--	<a class='footer-nav-item' href='/overwatch-league'>Overwatch League</a>-->
							  <!--	<a class='footer-nav-item' href='/login'>Login</a>-->
							  <!--	<a class='footer-nav-item' href='/register'>Set Up Your META</a>-->
			  				<!--</div>-->
						  	<!--<% } else { %>-->
						  	<!--<div class='footer-nav-col'>-->
							  <!--	<a class='footer-nav-item' href='/meta'>My META</a>-->
							  <!--	<a class='footer-nav-item' href='/news'>News</a>-->
							  <!--	<a class='footer-nav-item' href='/events'>Events &amp; Tournaments</a>-->
							  <!--	<a class='footer-nav-item' href='/overwatch-league'>Overwatch League</a>-->
							  <!--	<a class='footer-nav-item' href='/logout'>Logout</a>						  		-->
						  	<!--</div>-->
						  	<!--<% }; %>-->
						  	<!--<div class='footer-nav-col'>-->
						  	<!--	<a class='footer-nav-item' href='/info#about'>About Us</a>-->
							  <!--	<a class='footer-nav-item' href='/info#faq'>FAQ</a>-->
							  <!--	<a class='footer-nav-item' href='/contact'>Contact</a>-->
							  <!--	<a class='footer-nav-item' href='/write-for-us'>Write for us!</a>-->
						  	<!--</div>-->
			<!--			</div>-->
			<!--		</div>-->
			<!--		<div class='footer-flex-col' id='footer-social-col'>-->
			<!--			<div class='footer-header'>-->
			<!--				<p>Follow Us on Social Media</p>-->
			<!--			</div>-->
			<!--			<div class='footer-social'>-->
			<!--				<a href='https://www.twitter.com/esttweets' target='_blank'>Twitter</a>-->
			<!--				<a href='https://www.facebook.com/esportsterminal' target='_blank'>Facebook</a>-->
			<!--			</div>-->
			<!--		</div>-->
			<!--	</div>-->
			<!--</div>-->
<!--		</footer>-->
<!--  	</body>-->
<!--</html>-->