    <footer>
      <div class='container-fluid footer' id='primary-wrapper'>
        <div class='row'>
          <div class='col-xs-3 col-md-3' id='footer-logo'>
            <img src='/media/branding/logo_est_reg.png'>
          </div>          
          <div class='col-xs-6 col-md-6'>
            <p class='footer-header'>Navigation</p>
            <div class='footer-nav'>
              <% if(!currentUser) { %>
              <a href='/news'>News</a>
              <a href='/events'>Events &amp; Tournaments</a>
              <a href='/stream'>Stream</a>
              <a href='/login'>Login</a>
              <a href='/register'>Set Up Your META</a>
              <% } else { %>
              <a href='/meta'>My META</a>
              <a href='/news'>News</a>
              <a href='/events'>Events &amp; Tournaments</a>
              <a href='/stream'>Stream</a>
              <a href='/logout'>Logout</a>
              <% }; %>
              <a href='/info#about'>About Us</a>
              <a href='/info#faq'>FAQ</a>
              <a href='/contact'>Contact</a>
              <a href='/write-for-us'>Write for us!</a>
            </div>
          </div>
          <div class='col-xs-3 col-md-3'>
            <p class='footer-header'>Follow Us on Social Media</p>
            <div class='social-btn'>
              <a class='btn btn-primary btn-sm btn-est' href='https://www.facebook.com/EST-1458819794184730/' target='_blank'>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a class='btn btn-primary btn-sm btn-est' href='https://www.twitter.com/esttweets' target='_blank'>
                    <i class='fa fa-twitter'></i>
                </a>
                <a class='btn btn-primary btn-sm btn-est' href='https://www.instagram.com/esportsterminal' target='_blank'>
                    <i class='fa fa-instagram'></i>
                </a>
            </div>
          </div>
        </div>
      </div>
        <div class='row'>
          <div class='col-xs-12 col-md-12' id='copyright'>
            <p>Copyright &copy; 2017 eSportsTerminal.com | <a href='/privacy-policy'>Privacy Policy</a> | <a href='/terms-of-use'>Terms of Service</a></p>
          </div>
        </div>
    </footer>
  </body>
</html>