<!DOCTYPE html>
<html lang='en'>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
		<link href="https://fonts.googleapis.com/css?family=Poppins|Russo+One" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Ceviche+One" rel="stylesheet">
		<link rel='stylesheet' href='/stylesheets/stylesheet.css'>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src='/scripts/scripts.js'></script>
		
	</head>
	<body>
		<div class="navigation-container">
			<a href="/" class="navigation-logo">
				<img src="/media/branding/estera_battle_logo.png">
			</a>
			<ul class="navigation">
				<a class="navigation-link" id="home-nav-link" href="/">
					<li>Home</li>
				</a>
				<a class="navigation-link" href="/creators">
					<li>Creators</li>
				</a>
				<a class="navigation-link" href="/getinvolved">
					<li>Get Involved</li>
				</a>
				<a class="navigation-link" href="/contact">
					<li>Contact Us</li>
				</a>
			</ul>
		</div>
		<div class='container'>
			<% if(error && error.length > 0) { %>
			<div class='alert alert-danger' role='alert'>
				<%= error %>
			</div>
			<% } %>
			<% if(success && success.length > 0) { %>
			<div class='alert alert-success' role='alert'>
				<%= success %>
			</div>
			<% } %>
			<% if(warning && warning.length > 0) { %>
			<div class='alert alert-warning' role='alert'>
				<%= warning %>
			</div>
			<% } %>
		</div>