<% include ./partials/account_header %>
		<div class='container-fluid'>
			<div class='account-settings'>
				<div class='acct-settings-col acct-nav'>
					<div class='acct-nav-header'>
						<h3>My Account</h3>
					</div>
					<div id='acct-nav-links'>
						<a class='acct-nav-item' href='/account/info'>My Info</a>
						<a class='acct-nav-item' href='/account/settings'>Settings</a>
						<a class='acct-nav-item' href='/account/security'>Security & Other</a>
						<a class="acct-nav-item" href="/donate">Donate</a>
						<a class='acct-nav-item' href='/account/logout'>Log Out</a>
					</div>
				</div>
				<div class='acct-settings-col'>
					<div class='acct-settings-header'>
						<h1>Security & Other Settings</h1>
						<p>Change your password, email settings, etc.</p>
					</div>
					<div class='acct-settings-main'>
						<form class='acct-update-form' action='/account/security?_method=PUT' method='POST'>
							<div id='email-settings'>
								<div class='acct-settings-header' id='email-settings-description'>
									<h3>Email</h3>
									<p>You'll get updates on your META &amp; other updates EST think's you'll enjoy!</p>
								</div>
								<div id='email-settings-body'>
									<div class="form-check form-check-inline" id='acct-email-actions'>
										<% if(currentUser.newsletter) { %>
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" name='email' id='email-true' value='true' autocomplete="off" checked> Keep Me Updated
											</label>
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" name='email' id='email-false' value='false' autocomplete="off"> Don't Keep Me Updated
											</label>
										<% } else { %>
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" name='email' id='email-true' value='true' autocomplete="off"> Keep Me Updated
											</label>
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" name='email' id='email-false' value='false' autocomplete="off" checked> Don't Keep Me Updated
											</label>
										<% } %>
									</div>
								</div>
							</div>
							<div class='acct-settings-actions' id='email-actions'>
								<button class='btn btn-secondary acct-btn' type='submit'>Update</button>
							</div>
							<div id='sec-settings'>
								<div class='acct-settings-header' id='sec-settings-description'>
									<h3>Security Settings</h3>
									<p>Change your password or deactivate your account here.</p>
								</div>
								<div id='sec-settings-actions'>
									<a href='/account/change-password'>Change Password</a>
									<a href='/account/deactivate'>Deactivate Account</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
<% include ./partials/footer %>