<% include ./partials/header %>

      <div class='row'>
          <div class='col-xs-12 col-md-12'>
              <div class='container'>
                  <h1>Account Confirmation</h1>
                  <p>We've sent a confirmation email to <%= email %>.</p>
                  <p>Please confirm your account before continuing, thanks!</p>
              </div>
          </div>
      </div>


<% include ./partials/footer %>