<% include ./partials/account_header %>
		<div class='container-fluid'>
			<div class='account-settings'>
				<div class='acct-settings-col acct-nav'>
					<div class='acct-nav-header'>
						<h3>My Account</h3>
					</div>
					<div id='acct-nav-links'>
						<a class='acct-nav-item' href='/account/meta-settings'>META Settings</a>
						<a class='acct-nav-item' href='/account/info'>My Info</a>
						<a class='acct-nav-item' href='/account/security'>Security & Other</a>
						<a class='acct-nav-item' href='/logout'>Log Out</a>
					</div>
				</div>
				<div class='acct-settings-col'>
					<div class='acct-settings-header'>
						<h1>Change Password</h1>
						<p>One surefire way to spice up your life, that's for sure!</p>
					</div>
					<div class='acct-settings-main'>
						<form class='acct-update-form' action='/account/change-password?_method=PUT' method='POST'>
							<label for='oldPassword'>Current Password:</label>
							<input class='form-control' type='password' name='oldPassword' id='oldPassword' placeholder='the one you currently use' required />
							<label for='newPassword'>New Password:</label>
							<input class='form-control' type='password' name='newPassword' id='newPassword' placeholder='the one you want to use' required />
							<div class='acct-settings-actions'>
								<button class='btn btn-secondary acct-btn' type='submit'>Update Password</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
<% include ./partials/footer %>