<% include ./partials/account_header %>
		<div class='container-fluid'>
			<div class='account-settings'>
				<div class='acct-settings-col acct-nav'>
					<div class='acct-nav-header'>
						<h3>My Account</h3>
					</div>
					<div id='acct-nav-links'>
						<a class='acct-nav-item' href='/account/info'>My Info</a>
						<a class="acct-nav-item" href="/account/settings">Settings</a>
						<a class='acct-nav-item' href='/account/security'>Security & Other</a>
						<a class="acct-nav-item" href="/donate">Donate</a>
						<a class='acct-nav-item' href='/account/logout'>Log Out</a>
					</div>
				</div>
				<div class='acct-settings-col'>
					<div class='acct-settings-header'>
						<h1>Deactivate Account</h1>
						<p>We hope it's something we can fix.</p>
					</div>
					<div class='acct-settings-main'>
						<form class='acct-update-form' action='/account/deactivate?_method=PUT' method='POST'>
							<div class='acct-settings-header'>
								<p>Before you go, just fill this out.</p>
							</div>
							<div id='acct-deactivation-body'>
								<label for='deactivationReason'>Why are you deactivating?</label>
								<select class='form-control custom-select' type='select' name='deactivationReason' id='deactivationReason' required>
									<option selected disabled>Select a Reason</option>
									<option value='The content was not relevant'>The content was not relevant</option>
									<option value='The site is too hard to use'>The site is too hard to use</option>
									<option value="I don't use the site anymore">I don't use the site anymore</option>
									<option value='Other'>Other</option>
								</select>
								<label for='additionalComments'>Any additional comments?</label>
								<textarea class='form-control' rows='5' name='additionalComments' id='additionalComments' placeholder='suggestions, comments, etc.'></textarea>
								<label for='password'>Password:</label>
								<input class='form-control' type='password' name='password' id='password' placeholder='current password' required />
								<div class='acct-action-warning'>
									<p class='text-info'>Deactivating your account will mean that you won't receive anymore notifications from us.</p>
									<p class='text-info'>We'll make sure to save your preferences, so when you want to come back, just log in to reactivate your account.</p>
								</div>
								<div class='acct-settings-actions' id='acct-deactivation-actions'>
									<button class='btn btn-secondary acct-btn' type='submit'>Deactivate My Account</button>
									<a href='/account/delete-account'>Permanently delete my account</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
<% include ./partials/footer %>