<% include ./partials/account_header %>
		<div class='container-fluid'>
			<div class='account-settings'>
				<div class='acct-settings-col acct-nav'>
					<div class='acct-nav-header'>
						<h3>My Account</h3>
					</div>
					<div id='acct-nav-links'>
						<a class='acct-nav-item' href='/account/info'>My Info</a>
						<a class="acct-nav-item" href="/account/settings">Settings</a>
						<a class='acct-nav-item' href='/account/security'>Security & Other</a>
						<a class="acct-nav-item" href="/donate">Donate</a>
						<a class='acct-nav-item' href='/account/logout'>Log Out</a>
					</div>
				</div>
				<div class='acct-settings-col'>
					<div class='acct-settings-header'>
						<h1>Delete Account</h1>
						<p>That serious, huh? Ok, then.</p>
					</div>
					<form class='acct-update-form' action='/account/delete-account?_method=DELETE' method='POST'>
						<div class='acct-settings-header'>
							<p>Please provide us some feedback, if you're feeling up to it.</p>
						</div>
						<div id='acct-deletion-body'>
							<label for='deletionReason'>Why are you deactivating?</label>
							<select class='form-control custom-select' type='select' name='deletionReason' id='deletionReason' required>
								<option selected disabled>Select a Reason</option>
								<option value='The content was not relevant'>The content was not relevant</option>
								<option value='The site is too hard to use'>The site is too hard to use</option>
								<option value="I don't use the site anymore">I don't use the site anymore</option>
								<option value='Other'>Other</option>
							</select>
							<label for='additionalComments'>Any additional comments?</label>
							<textarea class='form-control' rows='5' name='additionalComments' id='additionalComments' placeholder='suggestions, comments, etc.'></textarea>
							<label for='password'>Password:</label>
							<input class='form-control' type='password' name='password' id='password' placeholder='current password' required />
							<div class='acct-action-warning'>
								<p class='text-danger'>WARNING! Your account will be PERMANENTLY DELETED!</p>
								<p class='text-danger'>Only click the button below if you are absolutely sure you want to delete your account.</p>
								<p class='text-danger'>This cannot be undone.</p>
							</div>
							<div class='acct-settings-actions' id='acct-deletion-actions'>
								<button class='btn btn-secondary acct-btn' type='submit'>Delete My Account</button>
								<a href='/account/deactivate'>Deactivate my account</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
<% include ./partials/footer %>