<% include ./partials/header %>
      <div class='container-fluid' id='primary-wrapper'>
        <div class='row'>
        	<div class='col-xs-2 col-md-2'>
        		<div class='account-nav'>
        			<h3>My Account</h3>
        			<ul>
        				<li><a href='/account/meta-settings'>META Settings</a></li>
        				<li><a href='/account/info'>Account Information</a></li>
        				<li><a href='/account/security'>Security & Other</a></li>
        				<li><a href='/logout'>Log Out</a></li>
        			</ul>
        		</div>
        	</div>
        	<div class='col-xs-10 col-md-10'>
        		<div class='account-content'>
              <h1>Security & Other Settings</h1>
              <p>Change your password, email settings, etc.</p>
              <form action='/account/security?_method=PUT' method='POST'>  
                  <h3>Email Settings</h3>
                  <p>Receive updates on your META, site changes, and other information from EST. We do not use your email for any other purpose.</p>
                  <% if(currentUser.newsletter) { %>
                        <div class="form-check form-check-inline account-email-settings">
                          <label class="btn btn-primary btn-est" id='newsletter-true'>
                            <input type="checkbox" name='news' value='true' autocomplete="off" checked> I want email updates
                          </label>
                          <label class="btn btn-danger btn-est-danger" id='newsletter-false'>
                            <input type="checkbox" name='news' value='false' autocomplete="off"> I don't want email updates
                          </label>
                        </div>
                  <% } else { %>
                        <div class="form-check form-check-inline account-email-settings">
                          <label class="btn btn-primary btn-est" id='newsletter-true'>
                            <input type="checkbox" name='news' value='true' autocomplete="off"> I want email updates
                          </label>
                          <label class="btn btn-danger btn-est-danger" id='newsletter-false'>
                            <input type="checkbox" name='news' value='false' autocomplete="off" checked> I don't want email updates
                          </label>
                        </div>
                  <% } %>
                <div class='clear-div'>
                  <hr>
                </div>
                  <h3>Stream Settings</h3>
                  <p>Receive general streaming updates such as important upcoming streams, changes to the schedule, etc.</p>
                  <% if(currentUser.stream) { %>
                        <div class="form-check form-check-inline account-email-settings" >
                          <label class="btn btn-primary btn-est" id='stream-true'>
                            <input type="checkbox" name='stream' value='true' autocomplete="off" checked> I want stream updates
                          </label>
                          <label class="btn btn-danger btn-est-danger" id='stream-false'>
                            <input type="checkbox" name='stream' value='false' autocomplete="off"> I don't want stream updates
                          </label>
                        </div>
                  <% } else { %>
                    <div class="form-check form-check-inline account-email-settings">
                          <label class="btn btn-primary btn-est" id='stream-true'>
                            <input type="checkbox" name='stream' value='true' autocomplete="off"> I want stream updates
                          </label>
                          <label class="btn btn-danger btn-est-danger" id='stream-false'>
                            <input type="checkbox" name='stream' value='false' autocomplete="off" checked> I don't want stream updates
                          </label>
                        </div>
                  <% } %>
                <div class='clear-div'>
                  <hr>
                </div>
                <button class='btn btn-success btn-est account-form-btn' type='submit'>Save Changes</button>
              </form>
              <div class='account-info' id='security-settings'>
                <h3>Security Settings</h3>
                <p>Change your password or deactivate your account here.</p>
                <ul>
                  <li><a href='/reset-password'>Reset Password</a></li>
                  <li><a href='/account/deactivate'>Deactivate Account</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
<% include ./partials/footer %>