<% include ./partials/header %>
    <div class='container-fluid' id='primary-wrapper'>
    	<div class='row'>
    		<div class='col-xs-3 col-md-3'>
    			<div class='account-nav'>
    				<h3>My Account</h3>
    				<ul>
    					<li><a href='/account/meta-settings'>META Settings</a></li>
    					<li><a href='/account/info'>Account Information</a></li>
    					<li><a href='/account/security'>Security</a></li>
    					<li><a href='/logout'>Log Out</a></li>
    				</ul>
    			</div>
    		</div>
    		<div class='col-xs-9 col-md-9'>
    			<div class='account-content'>
    				Some Stuff
    			</div>
    		</div>
    	</div>
    </div>
<% include ./partials/footer %>