<% include ./partials/header %>
  <div class='container-fluid' id='primary-wrapper'>
  	<div class='row'>
  		<div class='col-xs-3 col-md-3'>
  			<div class='account-nav'>
  				<h3>My Account</h3>
  				<ul>
  					<li><a href='/account/meta-settings'>META Settings</a></li>
  					<li><a href='/account/info'>Account Information</a></li>
  					<li><a href='/account/security'>Security & Other</a></li>
  					<li><a href='/logout'>Log Out</a></li>
  				</ul>
  			</div>
  		</div>
  		<div class='col-xs-9 col-md-9'>
  			<div class='account-content'>
  				<div class='meta-settings'>
            <h1>Games</h1>
            <p>These are your game subscriptions. Change them anytime!</p>
            <div class='row' id='meta-settings-columns'>
              <div class='col-xs-4 col-md-4'>
                <h3>Titles</h3>
              </div>
              <div class='col-xs-4 col-md-4'>
                <h3>News</h3>
              </div>
              <div class='col-xs-4 col-md-4'>
                <h3>Events</h3>
              </div>
            </div>
            <form class='user-meta-settings' action='/account/meta-settings?_method=PUT' method='POST'>
              <div class='form-group row'>
                <div class='col-xs-4 col-md-4' id='meta-titles'>
                  <% var userMeta = currentUser.meta; %>
                  <% games.forEach(function(game) { %>
                  <%   if(userMeta.find(meta => meta.game == game.title)) { %>
                    <div class="form-check form-check-inline">
                      <label class="btn btn-primary btn-est">
                        <input type="checkbox" name='title[]' value='<%= game.title %>' autocomplete="off" checked><%= game.title %>
                      </label>
                    </div>
                  <% } else { %>
                    <div class="form-check form-check-inline">
                      <label class="btn btn-primary btn-est">
                        <input type="checkbox" name='title[]' value='<%= game.title %>' autocomplete="off"><%= game.title %>
                      </label>
                    </div>
                  <% } %>
                  <% }); %>
                </div>
                <div class='col-xs-4 col-md-4' id='meta-news'>
                  <% games.forEach(function(game) { %>
                  <%   if(userMeta.find(meta => meta.news == true && meta.game == game.title)) { %>
                        <div class="form-check form-check-inline sub-meta-check">
                          <label class="btn btn-primary btn-est">
                            <input type="checkbox" name='news[]' value='yes' autocomplete="off" checked> Yes
                          </label>
                          <label class="btn btn-danger btn-est-danger">
                            <input type="checkbox" name='news[]' value='no' autocomplete="off"> No
                          </label>
                        </div>
                  <% } else if(userMeta.find(meta => meta.news == false && meta.game == game.title)){ %>
                        <div class='form-check form-check-inline sub-meta-check'>
                          <label class="btn btn-primary btn-est">
                            <input type="checkbox" name='news[]' value='yes' autocomplete="off"> Yes
                          </label>
                          <label class="btn btn-danger btn-est-danger">
                            <input type="checkbox" name='news[]' value='no' autocomplete="off" checked> No
                          </label>
                        </div>
                  <% } else { %>
                        <div class='form-check form-check-inline sub-meta-check'>
                          <label class="btn btn-primary btn-est">
                            <input type="checkbox" name='news[]' value='yes' autocomplete="off"> Yes
                          </label>
                          <label class="btn btn-danger btn-est-danger">
                            <input type="checkbox" name='news[]' value='no' autocomplete="off"> No
                          </label>
                        </div>
                  <% } %>
                  <% }); %>
                </div>
                <div class='col-xs-4 col-md-4' id='meta-events'>
                  <% games.forEach(function(game) { %>
                  <%   if(userMeta.find(meta => meta.events == true && meta.game == game.title)) { %>
                        <div class="form-check form-check-inline sub-meta-check">
                          <label class="btn btn-primary btn-est">
                            <input type="checkbox" name='events[]' value='yes' autocomplete="off" checked> Yes
                          </label>
                          <label class="btn btn-danger btn-est-danger">
                            <input type="checkbox" name='events[]' value='no' autocomplete="off"> No
                          </label>
                        </div>
                  <% } else if(userMeta.find(meta => meta.events == false && meta.game == game.title)) { %>
                        <div class='form-check form-check-inline sub-meta-check'>
                          <label class="btn btn-primary btn-est">
                            <input type="checkbox" name='events[]' value='yes' autocomplete="off"> Yes
                          </label>
                          <label class="btn btn-danger btn-est-danger">
                            <input type="checkbox" name='events[]' value='no' autocomplete="off" checked> No
                          </label>
                        </div>
                  <% } else { %>
                        <div class='form-check form-check-inline sub-meta-check'>
                          <label class="btn btn-primary btn-est">
                            <input type="checkbox" name='events[]' value='yes' autocomplete="off"> Yes
                          </label>
                          <label class="btn btn-danger btn-est-danger">
                            <input type="checkbox" name='events[]' value='no' autocomplete="off"> No
                          </label>
                        </div>
                  <% } %>
                  <% }); %>
                </div>
              </div>
              <button class='btn btn-success account-form-btn' type='submit'>Save Changes</button>
            </form>
          </div>
  			</div>
  		</div>
  	</div>
  </div>
<% include ./partials/footer %>