<% include ./partials/admin_header %>
<div class='container'>
	  <h2>Add a new user:</h2>
	  <form class='new-item-entry' id='new-user' action='/admin/new-user' method='POST'>
		<label>USER PERSONAL INFORMATION</label>
		<br>
		<label>First Name: </label>
		<input type='text' name='firstName'>
		<br>
		<label>Last Name: </label>
		<input type='text' name='lastName'>
		<br>
		<label>E-Mail: </label>
		<input type='email' name='email'>
		<br>
		<label>Phone: </label>
		<input type='phone' name='phone'>
		<br>
		<label>Username: </label>
		<input type='text' name='username'>
		<br>
		<label>Password: </label>
		<input type='password' name='password'>
		<br>
		<label>Gender: </label>
		<select>
		  <option name='gender' value='male' selected='selected'>Male</option>
		  <option name='gender' value='female'>Female</option>
		  <option name='gender' value='unspecified'>Prefer Not to Say</option>
		</select>
		<br>
		<label>ADDRESS</label>
		<br>
		<label>Street: </label>
		<input type='text' name='street'>
		<br>
		<label>City: </label>
		<input type='text' name='city'>
		<label>State: </label>
		<select>
		<% states.forEach(function(state) { %>
		  <option name='state' value='<%= state %>'><%= state %></option>
		<% });                              %>
		</select>
		<br>
		<label>Country: </label>
		<select name='country'>
		  <% countries.forEach(function(country) { %>
		  	<option value='<%= country %>'><%= country %></option>
		  <% }); %>
		</select>
		<br>
		<label>Zip Code: </label>
		<input type='text' name='zip'>
		<br>
		<label>ACCESS LEVEL</label>
		<br>
		<label>Role: </label>
		<select name='role'>
		  <option value='admin'>Admin</option>
		  <option value='editor'>Editor</option>
		  <option value='user' selected='selected'>Standard User</option>
		</select>
		<button type='submit'>Add User</button>
	  </form>
	  </div>
<% include ./partials/admin_footer %>