<% include ./partials/admin_header %>
<div class='container-fluid'>
    	<div class='row' id='page-header'>
    		<div class='col-xs-8 col-md-8'>
    			<h2>Add a New User</h2>
    		</div>
    		<div class='col-xs-4 col-md-4'>
    			<a class='btn btn-primary btn-est' href='/admin/view-users' role='button'>Return to Users</a>
    		</div>
    	</div>
    	<div class='clear-div'>
    		<hr>
    	</div>
    	<div class='row'>
    		<div class='col-xs-12 col-md-12'>
    			<form class='user-account-edit' action='/admin/new-user' method='POST'>
    				<div class='form-group row'>
    					<div class='col-xs-6 col-md-6'>
    						<label for='firstName'>First Name: </label>
    						<input class='form-control' type='text' name='firstName' id='firstName'>
    					</div>
    					<div class='col-xs-6 col-md-6'>
							<label for='lastName'>Last Name: </label>
    						<input class='form-control' type='text' name='lastName' id='lastName'>
    					</div>
    				</div>
    				<div class='form-group row'>
    					<div class='col-xs-6 col-md-6'>
    						<label for='email'>Email: </label>
    						<input class='form-control' type='email' name='email' id='email'>
    					</div>
    					<div class='col-xs-6 col-md-6'>
    						<label for='username'>Username: </label>
    						<input class='form-control' type='text' name='username' id='username'>
    					</div>
    				</div>
    					<div class='form-group row'>
    						<div class='col-xs-6 col-md-6'>
    							<label for='phone'>Phone: </label>
    							<input class='form-control' type='text' name='phone' id='phone'>
    						</div>
    						<div class='col-xs-6 col-md-6'>
    							<label for='gender'>Gender: </label>
    							<select class='form-control custom-select' type='select' name='gender' id='gender'>
    								<option selected disabled>Select a Gender</option>
									<option value='male'>Male</option>
									<option value='female'>Female</option>
									<option value='unspecified'>Prefer Not to Say</option>
    							</select>
    						</div>
    					</div>
    					<div class='form-group row'>
    						<div class='col-xs-6 col-md-6'>
    							<label for='street'>Street: </label>
    							<input class='form-control' type='text' name='street' id='street'>
    						</div>
    						<div class='col-xs-6 col-md-6'>
    							<label for='city'>City: </label>
    							<input class='form-control' type='text' name='city' id='city'>
    						</div>
    					</div>
    					<div class='form-group row'>
    						<div class='col-xs-6 col-md-6'>
    							<label for='state'>State: </label>
    							<select class='form-control custom-select' name='state' id='state'>
    								<option selected disabled>Select a State</option>
								<% states.forEach(function(state) { %>
			  						<option value='<%= state %>' selected><%= state %></option>
								<% }); %>
								</select>
    						</div>
    						<div class='col-xs-6 col-md-6'>
    							<label for='zip'>Zip Code: </label>	
    							<input class='form-control' type='text' name='zip' id='zip'>
    						</div>
    					</div>
    					<div class='form-group row'>
    						<div class='col-xs-6 col-md-6'>
    							<label for='country'>Country: </label>
    							<select class='form-control custom-select' type='select' name='country' id='country'>
								  	<option selected disabled>Select a Country</option>
								  <% countries.forEach(function(country) { %>
								  	<option value='<%= country %>'><%= country %></option>
								  <% }); %>
								</select>
    						</div>
    						<div class='col-xs-6 col-md-6'>
    							<label for='password'>Password: </label>
    							<input class='form-control' type='password' name='password' id='password'>
    						</div>
    					</div>
    					<div class='form-group row'>
    						<label for='accessLevel'>Access Level: </label>
							<select class='form-control custom-select' name='role' name='accessLevel'>
								<option selected disabled>Select a User Role</option>
								<option value='admin' >Admin</option>
								<option value='editor'>Editor (not in use right now)</option>
								<option value='user'>Standard User (no admin access)</option>
							</select>
    					</div>
    					<div class='clear-div'>
    						<hr>
    					</div>
    				<button class='btn btn-primary btn-est' type='submit' value='Add User'>Add User</button>
    			</form>
    		</div>
    	</div>
    </div>
<% include ./partials/admin_footer %>