<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>eSports Terminal - Admin</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/stylesheets/admin.css'>
  </head>
  <body>
	<div class='container' id='admin-login'>
	  <img src='/media/branding/logo_est_reg.png'>
		<form action='/admin/login' method='POST'>
		  <label>Username: <input type='text' name='username' placeholder='username'></label>
		  <br>
		  <label>Password: <input type='password' name='password' placeholder='password'></label>
		  <button>Login</button>
		</form>
	</div>
  </body>
</html>