<% include ./partials/header %>
		<div class="container-fluid main-content-container" id="main-contact-container">
			<div class="contact-form-section" id="contact-form-container">
				<div class="section-indicator" id="contact-form-header">
					<h1>Need to Contact Us?</h1>
					<p>Fill out the form below, we'll get back to you as soon as possible!</p>
				</div>
				<form class='acct-update-form' id='contact-form' action='/contact' method='POST'>
						<label for='first-name'>First Name:</label>
						<input class='form-control' type='text' name='firstName' id='first-name' required />
						<label for='last-name'>Last Name:</label>
						<input class='form-control' type='text' name='lastName' id='last-name' required />
						<label for='email'>Email:</label>
						<input class='form-control' type='email' name='email' id='email' required />
						<label for='message'>Message:</label>
						<textarea class='form-control' type='text' name='message' id='message' rows='8' required></textarea>
					<div id='contact-actions'>
						<button class='btn btn-secondary acct-btn' type='submit'>Submit</button>
					</div>
				</form>
			</div>
			<div class="contact-form-section" id="contact-sidebar">
				<img src="/media/branding/estera_headshot_smile.png" id="estera-contact">
				<h1>Just so you know...</h1>
				<p>We're very active on social media these days! So, if you find 
				that sending us a message on Twitter or Facebook is easier, please do that! 
				Usually we can reply a bit faster as well :)
				</p>
				<div id='contact-page-social'>
					<a class="btn nav-link" id="nav-quick-social" href="http://www.twitter.com/esttweets"target="_blank">
						<button type="button" class="btn btn-tw" id="quick-tw"><i class="fa fa-twitter"></i></button>
					</a>
					<a class="btn nav-link" href="https://www.facebook.com/esportsterminal" target="_blank">
						<button type="button" class="btn btn-fb" id="quick-fb"><i class="fa fa-facebook"></i></button>
					</a>
				</div>
			</div>
		</div>
<% include ./partials/footer %>