<% include ./partials/header %>
		<div class="container-fluid main-content-container">
			<div class="section-indicator">
				<h1 class="section-indicator-title" id="creators-list-title">Content Creators of Esports Terminal</h1>
			</div>
			<div class="creator-info-container">
				<div class="creator-bio-container">
					<img class="creator-info-image" src="/media/branding/robtv_banner-100.jpg">
					<p class="creator-bio-header">
						Cocky. Divisive. New School. Hot-Headed. Scrub. Leader. Teacher. Student. Passionate. Gdlk.
					</p>
					<p>
						Whether or not you feel RobTV's outspoken persona is favorable, there's no denying his dedication 
						to becoming the best. If you haven't crossed paths with this Street Fighter body snatcher in the brackets just yet, 
						rest assured it will happen soon enough.   
					</p>
					<p>
						Known for telling it like it is, RobTV's segment <b><a href="/robtv">Closing the Gap</a></b> lets you peer into the life 
						of a professional Street Fighter player. There's a lot at stake in this pursuit - high risk, but high 
						reward if success is achieved. It's not all fun and games, however, which is why he's telling all. 
						The legacy that comes as a result of being number one is not only about the victories, but the losses 
						and hardships that must be overcome to get there. 
					</p>
				</div>
				<div class="creator-bio-container">
					<img class="creator-info-image" src="/media/branding/ginni_banner-100.jpg">
					<p class="creator-bio-header">
						Journalist. Writer. Cosplayer. M. Bison's Top Doll.
					</p>
					<p>
						A freelance Esports journalist and imaginative fiction writer, Ginni Lou, who you also might know 
						as EXT0PD0ll, has created content for RedBull Esports, Team Circa, and EventHubs. Needless to say, she's no 
						stranger to the world of fighting games and connecting with top players to get the story. 
					</p>
					<p>
						In <b><a href="/ext0pd0ll">Favorite Fighter Profiles</a></b>, Ginni speaks with professional Street Fighter players about the characters 
						they use, getting a unique perspective on their character of choice and why they use them. Along with interviewing 
						professional players is a one-of-a-kind fiction feature based on the pros' favorite character, adding even more of 
						a story line to the characters you love. 
					</p>
				</div>
				<div class="creator-bio-container">
					<img class="creator-info-image" src="/media/branding/natech_banner-100.jpg">
					<p class="creator-bio-header">
						Content Producer. Discourse Addict. Proponent of Esports. 
					</p>
					<p>
						Discussing ideas, both good and bad, is what <b><a href="/natech">The 50/50</a></b> is all about! 
						Fighting Games have been around a lot longer than most games entering into the sphere of competition, 
						which means there's always something to talk about. In the FGC, especially with it's growth into an increasingly 
						Esports driven environment, things can get blurred, which is why presenting all the facts available is key to 
						understanding the future of Fighting Games. 
					</p>
				</div>
			</div>
			<div class="section-subsection" id="segment-logos">
				<img class="segment-logo" src="/media/branding/ctg_logo.png">
				<img class="segment-logo" src="/media/branding/ffp_logo.png">
				<img class="segment-logo" src="/media/branding/the_5050_logo.png">
			</div>
		</div>
<% include ./partials/footer %>