<% include ./partials/header %>
		<div class="container-fluid">
			<div class="donation-flex">
				<div class="section-header">
					<h1>Help Support Esports Terminal</h1>
					<p>We keep going because of you!</p>
				</div>
				<div class="donation-info-section">
					<h2>Ads suck, so we don't have them!</h2>
					<p>Seriously, we have zero advertisements on our site. No 
					annoying sidebar ads, nothing to interrupt you reading an article, 
					and most certainly nothing to redirect you to a page that you didn't 
					click on.</p>
					<p>It's frustrating for you (and us) to have ads on the site. 
					So, we chose not to have them! It's a way better experience for you 
					and we don't have to worry about them either, so it's a win-win. That being said, 
					we are running entirely off of community donations. All of the donations 
					we receive go to making better content for the site. This includes bringing 
					new members to the team, having frequent segments with your favorite 
					content producers, and more opportunities to expand the depth of our content!</p>
				</div>
				<div class="donation-info-section">
					<h2>How can I donate?</h2>
					<p>We accept donations through PayPal, where you can choose to donate once 
					or make it a frequent donation. Either way, we greatly appreciate it! All 
					you have to do is just click the donation button below and you'll be taken to our PayPal!</p>
					<a id="paypal-donate" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=J4BMGFF7S4G3N" target="_blank">
						<img id="paypal-image" src="https://i.imgur.com/aCkD3An.jpg">
					</a>
					<a id="paypal-donate-mobile" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=J4BMGFF7S4G3N" target="_blank">
						<img id="paypal-image-sm" src="https://i.imgur.com/3AjQL1G.png">
					</a>
				</div>
				<div class="donation-info-section">
					<h2>If I can't donate, are there other ways to help?</h2>
					<p>Yes, absolutely! If donations aren't an option for you right now, that's perfectly 
					fine! In fact, it means a lot that you're still thinking of other ways you can help support 
					us! One of the best ways is to follow us on social media. We are pretty active <a href="http://www.twitter.com/esttweets" target="_blank">on Twitter</a>, for 
					example. Or, if you'd like to visit our <a href="http://www.facebook.com/esportsterminal" target="_blank">Facebook page</a>, please do!</p>
					<p>Another way that helps us grow is to simply bookmark our site so that you can visit it 
					frequently! We're working hard to get you content more frequently, so it's important to stay 
					tuned!</p>
				</div>
			</div>
		</div>		
<% include ./partials/footer %>