<% include ./partials/header %>
		<div class="container-fluid">
			<div id="donate-success-flex" class="donation-flex">
				<div id="donate-success-header" class="section-header">
					<h1>Thank you so much for your donation!!!</h1>
					<p>We can keep going because of people like you!</p>
				</div>
				<div id="donate-success-message" class="donation-info-section">
					<p>We can't thank you enough for what you just did. It's our 
					goal to make sure that we keep Esports Terminal alive and growing. 
					It will continue to do so now that you've helped push us forward!</p>
					<p>Thanks again! We hope to hear from you soon!</p>
					<img id="donate-thank-you" src="/media/branding/donate_thank_you-100.jpg">
				</div>
			</div>
		</div>		
<% include ./partials/footer %>