<% include ./partials/header %>

      <div class='container-fluid' id='primary-wrapper'>
        <div class='row'>
          <div class='col-xs-12 col-md-12'>
            <h2>Forgot your password? It happens. We've got your back.</h2>
            <p>Enter the email associated with your account. We'll send you a reset link.</p>
            <form class='reset-password' action='/forgot-password' method='POST'>
              <div class='form-group row'>
                <div class='col-xs-2 col-md-2'>
                  <label for='email'>Email Address: </label>
                </div>
                <div class='col-xs-10 col-md-10'>
                  <input class='form-control' type='email' name='email' id='email' required>
                </div>
              </div>
              <button class='btn btn-primary btn-est account-form-btn' value='submit'>Send Password Reset Link</button>
            </form>
          </div>
        </div>
      </div>

<% include ./partials/footer %>