<% include ./partials/header %>
			<div class="container-fluid">
				<div class="forgot-pw-flex">
					<div class="section-header" id="forgot-pw-change-header">
						<h1>Password Reset</h1>
						<p>Enter your new password, then enter it again to confirm</p>
					</div>
					<form id="forgot-pw-change" action="/action/forgot-password/change/<%= user._id %>?_method=PUT" method="POST">
						<label for="newPassword">New Password:</label>
						<input class="form-control" type="password" name="newPassword" id="newPassword" required />
						<label for="confirmedPassword">Confirm New Password:</label>
						<input class="form-control" type="password" name="confirmedPassword" id="confirmedPassword" required />
						<button class="btn btn-outline-secondary acct-btn" type="submit">Update Password</button>
					</form>
				</div>
			</div>
<% include ./partials/footer %>