<% include ./partials/header %>
		<div class="container-fluid">
			<div class="forgot-pw-flex">
				<div class='section-header' id="forgot-pw-header">
					<h1>Forgot your password?</h1>
					<p>Don't worry, we won't judge you. It happens!</p>
				</div>
				<form id="forgot-pw" action="/forgot-password" method="POST">
					<label for="email">Email Address:</label>
					<input class="form-control" type="email" name="email" id="email" required />
					<button class="btn btn-outline-secondary acct-btn" type="submit">Send Me a Password Reset Link</button> 
				</form>
			</div>
		</div>
<% include ./partials/footer %>