<% include ./partials/header %>
		<div class="container-fluid main-content-container">
		    <div class="section-indicator">
				<h1 class="section-indicator-title" id="get-involved-title">There Are Many Ways to Get Involved with EST!</h1>
			</div>
			<div class="section-main-body">
				<div class="subsection-indicator">
					<h1>1) Become a Part of the Team</h1>
				</div>
				<p>
					We're always looking to add more creative and passionate people to our roster. Whether you produce video or written content, we want to work with you! Currently, we are seeking Content Creators who are involved in the Fighting Game Community (FGC) and are either 
					competing in or want to create content around Fighting Game Esports. If that's you, send us a message through the 
					<a href="/contact">contact form!</a>
				</p>
				<div class="subsection-indicator">
					<h1>2) Support By Donating</h1>
				</div>
			    <p>
			        Ads suck, so we decided to make Esports Terminal is completely ad-free! 
			        That means we can dedicate every bit of our website to videos and articles you'll enjoy. It also means 
			        that we operate largely on direct support from YOU! 
			    </p>
			    <p>
			        Every single person who views our site, reads our articles, or views our videos is very important to us. 
			        For those who are interested in supporting, we've set up a Patreon campaign! All support received through the Patreon campaign will go <i>directly</i> to supporting Esports Terminal and 
			        the Content Creators on the team. 
			    </p>
			    <a href="http://www.patreon.com/EsportsTerminal" target="_blank">
			        <img id="estera-patreon" src="/media/branding/estera_patreon.png">
			    </a>
			    <p>
			        If you'd like to <a id="paypal-donate" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=J4BMGFF7S4G3N" target="_blank">support us through PayPal donations</a>, 
			        that option is open to you as well. 
			    </p>
			    <p>
			        Every donation, no matter how small, is extremely helpful in providing you with more content, 
			        new creators, and bigger projects. Thank you so much for your support!
			    </p>
			    <div class="subsection-indicator">
					<h1>3) Interact with Us on Social Media</h1>
				</div>
				<p>
					We're pretty active on Twitter and Facebook, posting our original content as well as other stuff from different creators. We want to 
					make sure you get all you can. So, if you're active on either one of those, be sure to follow us so we can keep you posted on the latest Fighting Game info!
				</p>
				<div id="social-buttons">
					<a href="http://www.twitter.com/ESTTweets" target="_blank">
						<img src="/media/branding/est_twitter_button.png">
					</a>
					<a href="http://www.facebook.com/EsportsTerminal" target="_blank">
						<img src="/media/branding/est_facebook_button.png">
					</a>
				</div>
			</div>
			<div class="section-subsection" id="segment-logos">
				<img class="segment-logo" src="/media/branding/ctg_logo.png">
				<img class="segment-logo" src="/media/branding/ffp_logo.png">
				<img class="segment-logo" src="/media/branding/the_5050_logo.png">
			</div>
		</div>
<% include ./partials/footer %>