<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>eSports Terminal - News, Events, Meta</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/stylesheet.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src= 'http://player.twitch.tv/js/embed/v1.js'></script>
    <script src='/scripts/scripts.js'></script>
  </head>
  <body>
    <div id='landing-wrapper'>
      <img class='background' src='/media/branding/landing_background.png' />
      <a href='/login'><img class='landing-link' id='landing-link-1' src='/media/branding/landing_login.png' /></a>
      <a href='/register'><img class='landing-link' id='landing-link-2' src='/media/branding/landing_create_account.png' /></a>
      <a href='/news'><img class='landing-link' id='landing-link-3' src='/media/branding/landing_view_site.png' /></a>
    </div>
  </body>
 </html>