<% include ./partials/header %>
		<div class="container-fluid">
			<div id="site-info-container">
				<div class="content-flex">
					<div class="section-header" id="about">
						<h1>What is Esports Terminal?</h1>
						<p>We're always growing, but our mission stays the same.</p>
					</div>
					<div class="site-info-section">
						<p>There is so much to think about when it comes to esports. Everything 
						from local tournaments to world championships, match analysis to game mechanics, 
						and even changes to the games themselves like patch notes and updates. What really 
						stands out in making esports something wonderful to be a part of, however, is the people who make up 
						the communities within it. Esports Terminal is focused on bringing you all of the technical 
						stuff, but most importantly we want to help showcase the people who make us keep coming back to 
						play, to watch, and to build communities with.</p>
					</div>
					<div class="section-header">
						<h1>What games do you provide content for?</h1>
						<p>We're starting with our home.</p>
					</div>
					<div class="site-info-section">
						<p>We at Esports Terminal love all types of games, but a lot of our foundation has been built in the 
						world of fighting games. We grew up playing them and are excited to see how far they've come. With the 
						Fighting Game Community (FGC) being such an amazing group to be a part of, we want to give back. So, 
						we're working on a lot of content for fighting games at the moment. When the opportunity is right, we 
						will consider moving on to other genres.</p>
					</div>
					<div class="section-header" id='faq'>
						<h1>Why should I create an account?</h1>
						<p>It makes your experience better.</p>
					</div>
					<div class="site-info-section">
						<p>Having an account is going to provide a couple of benefits for you! First, you'll be able 
						to customize what games you see on your home page. That way, everytime you visit the site (if you're 
						logged in), you'll see content only for the games you want. Second, it allows us to give you updates on not only 
						the games you choose, but also to the website and other important information, through email. To create 
						an account is easy, just check out the <a href="/register" target="_blank">sign up page</a>.</p>
					</div>
					<div class="section-header">
						<h1>I'm having login issues!</h1>
						<p>First world problems, right?</p>
					</div>
					<div class="site-info-section">
						<p>Login issues suck. Plain and simple. If you have forgot your password, you can reset it <a href="/forgot-password" target="_blank">here</a>. 
						If you are already logged in, but want to change up your password or username, head on over to the <a href="/account/security" target="_blank">account security</a> page 
						where there are instructions on how to do that. If you are having another issues, please <a href="/contact" target="_blank">contact us</a> and we will 
						do everything in our power to make sure your problem is resolved.</p>
					</div>
					<div class="section-header" id="contact">
						<h1>How do I contact EST?</h1>
						<p>That's easy!</p>
					</div>
					<div class="site-info-section">
						<p>We have a simple <a href="/contact" target="_blank">contact page</a> where you'll be asked to fill out some stuff, then we'll receive it in our inbox. 
						If you want to try and grab us on Twitter, we're really active there. Just head over to 
						<a href="http://www.twitter.com/esttweets" target="_blank">twitter.com/ESTTweets</a></p>
					</div>
				</div>
			</div>
		</div>
<% include ./partials/footer %>