<% include ./partials/header %>
		<div class='container-fluid'>
			<div id='site-info-container'>
				<div class='content-flex'>
					<div class='mobile-banner-lg' id='site-info-mobile-banner-top'>
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- EST - Large Mobile Banner -->
						<ins class="adsbygoogle"
						     style="display:inline-block;width:320px;height:100px"
						     data-ad-client="ca-pub-9897193498933044"
						     data-ad-slot="3672641657"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
					<div class='section-header' id='about'>
						<h1>What is Esports Terminal?</h1>
						<p>We're ever-changing, but our mission stays the same.</p>
					</div>
					<div class='site-info-section'>
						<p>Esports Terminal is a place for you to get content on the games you love.
						For any game that's involved in esports, along with it comes news and events. 
						That means that we talk about professional players, teams, write match analyses, 
						about patch updates, and anything else that you can think of that relates to the game
						and it's esports component. Of course, we also try to touch on other things like skins/costumes, 
						new maps, characters, etc., however we try to keep most of the content esports related.
						</p>
					</div>
					<div class='section-header' id='faq'>
						<h1>Why should I create an account?</h1>
						<p>It makes your experience better.</p>
					</div>
					<div class='site-info-section'>
						<p>Having an account with us is going to help you gather the content for only the games
						that you want. If you check out our <a href="/register" target="_blank">sign up page</a>, 
						you'll see that you can select from a list of games. Whichever games you choose will be the ones that are on your personalized home 
						page. We call your custom selections your META. This way, every time you log in, you'll get the 
						latest content on only the games you like. Of course, if you want to check out the other news, 
						you can always just hit the regular <a href="/news" target="_blank">news</a> page and look at some stuff there.
						</p>
					</div>
					<div class='mobile-advert-responsive'>
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- EST - Responsive -->
						<ins class="adsbygoogle"
						     style="display:block"
						     data-ad-client="ca-pub-9897193498933044"
						     data-ad-slot="6211175083"
						     data-ad-format="auto"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
					<div class='section-header'>
						<h1>Why aren't there more games?</h1>
						<p>We're always trying to add more.</p>
					</div>
					<div class='site-info-section'>
						<p>As we're sure you know, there are a lot of games and a lot of content for those games. 
						We are always doing our best to provide you with more content, but we want to do it right. So, 
						if you love a particular game that we don't provide content for, shout at us through our <a href="/contact" target="_blank">contact page</a>. 
						We will do our best to get you what you want. 
						</p>
					</div>
					<div class='section-header'>
						<h1>I'm having login issues!</h1>
						<p>First world problems, right?</p>
					</div>
					<div class='site-info-section'>
						<p>Login issues suck. Plain and simple. If you have forgot your password, you can reset it <a href="/forgot-password" target="_blank">here</a>. 
						If you are already logged in, but want to change up your password or username, head on over to the <a href="/account/security" target="_blank">account security</a> page 
						where there are instructions on how to do that. If you are having another issues, please <a href="/contact" target="_blank">contact us</a> and we will 
						do everything in our power to make sure your problem is resolved.
						</p>
					</div>
					<div class='section-header' id='contact'>
						<h1>How do I contact EST?</h1>
						<p>That's easy!</p>
					</div>
					<div class='site-info-section'>
						<p>There is a form. One form to rule them all, which is the contact form! It's easy stuff. Head on over 
						to the <a href="/contact" target="_blank">contact page</a> and fill it out. It goes straight to our team who is ready to respond to you. If you have 
						anything to say at all, whether it's suggestions, issues with the website, or just need to vent, hit us up!
						</p>
					</div>
				</div>
				<div class='advert-sidebar-flex'>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- EST - Large Skyscraper Sidebar -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:300px;height:600px"
					     data-ad-client="ca-pub-9897193498933044"
					     data-ad-slot="2454928756"></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- EST - Large Rectangle Sidebar -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:336px;height:280px"
					     data-ad-client="ca-pub-9897193498933044"
					     data-ad-slot="6101571867"></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>
		</div>
<% include ./partials/footer %>