<% include ./partials/header %>
    <div class='container-fluid' id='primary-wrapper'>
      <div class='row'>
        <div class='col-xs-6 col-md-6' id='info-content'>
          <div class='content-divider-md'>
            <h2 id='about'>What is EST?</h2>
          </div>
          <div class='container'>
            <p>Esports Terminal is a competitive gaming information experience. With an account, 
            you're able to choose what you want your personal stream of information to be: what we call a META. 
            This way, every time you visit our site, your main page will be a customized stream of content that you chose to receive.
            The content you see on this site is related to eSports and nothing else, so there isn’t any clutter or filler articles that don’t relate to what you came here for. 
            Esports Terminal’s features allows you to keep up with <b>your</b> META, not everyone else’s.</p>
          </div>
          <div class='container'>
            <hr>
            <div class='content-divider-md'>
              <h2 id='faq'>FAQ's</h2>
            </div>
            <h3>What do you mean by 'META'?</h3>
            <p>As a non-account holder, you'd see aggregated news, events, or other content. 
            We realized that you don't always want to sift through everything to get to what you want, 
            so by creating an account, you're able to choose which games you want to follow, plus a little more customization!
            You also have the freedom to choose if you want to see a number of more specific content types for each game, such as news, events, etc.
            It takes only a couple of  minutes to get started, so <a href='/register'>get started here!</a></p>
          
            <h3>Can I change my META?</h3>
            <p>Yes! You can change your META any time, any place, for any reason you like. 
            Just go to your <a href='/account'>Account Settings</a> to change it.</p>
            
            <h3>Do you/will you cover more games?</h3>
            <p>What you currently see on the site is what we are actively providing content on, 
            but we are continuously working to add more content for you in many ways. 
            One of those ways is, you guessed it, more games! We know the eSports world is growing fast, 
            so we are doing our best to keep up with it. There are also more types of categories for each game that are in the works, 
            such as following teams and more. Stay tuned! (HINT: by creating an account, 
            you will automatically be notified when we have new features on the site).</p>
            
            <h3>I can't log in!</h3>
            <p>Login issues got you down? If you have forgotten your password, you can go to the 
            <a href='/account/security'>Account Security</a> page to reset it. 
            If you feel you are entering your information correctly, but still can’t log in, 
            please <a href='/contact'>contact us</a></p>
          </div>
          <div class='container'>
            <hr>
            <div class='content-divider-md'>
              <h2>Contact Us!</h2>
            </div>
            <p>If you have anything to tell us, there are many ways you can do that! 
            We have a <a href='/contact'>contact page here</a>. Social media works as well! 
            Just follow any of the social media links on the site or perform a search for “Esports Terminal” and you’ll find us. 
            We’d love to hear from you. Whether you have suggestions for the site in any way, 
            want to tell us about your experience, or just want to say “Hello”, we’re here.</p>
          </div>
        </div>
        <div class='col-xs-6 col-md-6' id='about-right-container'>
          <img src='/media/branding/account_steps.png' id='account-steps'>
        </div>
      </div>
    </div>
<% include ./partials/footer %>