<% include ./partials/header %>
	  <div class='container-fluid' id='primary-wrapper'>
	  	<div class='row'>
	  		<div class='col-xs-12 col-md-12' id='login-container'>
        		<img src='/media/branding/login_top.png'>
		    	<form id='login-page-auth' action='/login' method='POST'>
				<div class='form-group row'>
					<div class='col-xs-12 col-md-12'>
						<label for='username'>Username: </label>
						<input class='form-control' type='text' name='username' placeholder='username' id='username' required>
					</div>
				</div>
				<div class='form-group row'>
					<div class='col-xs-12 col-md-12'>
						<label for='password'>Password: </label>
						<input class='form-control' type='password' name='password' placeholder='password' id='password' required>
					</div>
				</div>
				<div class='clear-div'>
					<hr>
				</div>
				<button class='btn btn-primary btn-est account-form-btn' type='submit'>Log In</button>
				<p><a href='/register'>Create an Account</a></p>
				<a href='/forgot-password'>Forgot Password?</a>
		  		</form>
		  		<img src='/media/branding/login_bottom.png'>
	    	</div>
	  	</div>
	  </div>
<% include ./partials/footer %>