<% include ./partials/header %>

	  <div class='container-fluid' id='primary-wrapper'>
	    <div class='row'>
	      <div class='col-xs-12 col-md-12' id='podcast-header'>
	        <h1>eSports Terminal Podcast</h1>
	        <img class='header-image' src='../media/branding/header_underscore.png'>
	      </div>
	      <div class='row'>
	        <div class='col-xs-12 col-md-12'>
	          <iframe width='100%' height='300' scrolling='no' frameborder='no' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/335970301&amp;color=%230066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true'></iframe>
	        </div>
	      </div>
	    </div>
	  </div>

<% include ./partials/footer %>