<% include ./partials/header %>
		<div class='container-fluid' id='registration-wrapper'>
			<div class='registration'>
				<div class='registration-flex' id='registration-header'>
					<h1>Hey there, good lookin'!</h1>
					<p>Fill this bad boy out and you'll be set. Easy!</p>
				</div>
				<div class='registration-flex' id='registration-container'>
					<form class='acct-update-form' id='registration-form' action='/account/register' method='POST'>
						<div id='user-acct-info'>
							<div class='registration-form-section'>
								<label for='firstName'>First Name:</label>
								<input class='form-control' type='text' name='firstName' id='firstName' required />
								<label for='lastName'>Last Name:</label>
								<input class='form-control' type='text' name='lastName' id='lastName' required />
								<label for='email'>Email:</label>
								<input class='form-control' type='email' name='email' id='email' required />
								<label for='username'>Username:</label>
								<input class='form-control' type='text' name='username' id='username' required />
							</div>
							<div class='registration-form-section'>
								<label for='password'>Password:</label>
								<input class='form-control' type='password' name='password' id='password' required />
								<label for='confirmedPassword'>Confirm Password:</label>
								<input class='form-control' type='password' name='confirmedPassword' id='confirmedPassword' required />
								<label for='country'>Country:</label>
								<select class='form-control custom-select' type='select' name='country' id='country' required>
									<option selected disabled>Select a Country</option>
									<% countries.forEach(function(country) { %>
										<option value='<%= country %>'><%= country %></option>
									<% }); %>
								</select>
							</div>
						</div>
						<div class='registration-flex' id='registration-actions'>
							<button class='btn btn-secondary acct-btn' type='submit'>Create My Account</button>
						</div>
					</form>
				</div>
			</div>
		</div>
<% include ./partials/footer %>