<% include ./partials/header %>
      <div class='container-fluid' id='primary-wrapper'>
        <div class='row'>
        	<div class='col-xs-3 col-md-3'>
        		<div class='account-nav'>
        			<h3>My Account</h3>
        			<ul>
        				<li><a href='/account/meta-settings'>META Settings</a></li>
        				<li><a href='/account/info'>Account Information</a></li>
        				<li><a href='/account/security'>Security</a></li>
        				<li><a href='/logout'>Log Out</a></li>
        			</ul>
        		</div>
        	</div>
        	<div class='col-xs-9 col-md-9'>
        		<div class='account-content'>
                  <h1>Password Reset</h1>
                  <p>In order to change your password, enter your current one & your new one.</p>
                  <form class='reset-password' action='/reset-password?_method=PUT' method='POST'>
                    <label>Current Password: 
    				          <input type='password' name='oldPassword'>
    			          </label>
                    <label>New Password: 
    				          <input type='password' name='newPassword'>
    			          </label>
    			          <button class='btn btn-success' type='submit'>UPDATE PASSWORD</button>
                  </form>
            </div>
          </div>
        </div>
      </div>

<% include ./partials/footer %>