<% include ./partials/header %>

        <div class='container-fluid' id='primary-wrapper'>
            <div class='event-search-results'>
                <% events.forEach(function(event){ %>
                    
                <% }); %>
            </div> 
        </div>

<% include ./partials/footer %>