<% include ./partials/header %>
		<div class='container-fluid'>
			<div class='row'>
				<div class='col-xs-12 col-md-12' id='page-header'>
					<h1>Write for Us!</h1>
					<form class='content-search' action='/search/articles' method='GET'>
						<div class="input-group">
						  <input type="text" class="form-control" name='search' placeholder="search articles...">
						  <span class="input-group-btn">
							<button class='btn btn-primary btn-est' type='submit'>Search</button>
						  </span>
						</div>
					</form>
				</div>
		    </div>
		    <hr>
		    <div class='row'>
		    	<div class='col-xs-12 col-md-12 '>
		    		<div class='container' id='write-for-us'>
		    			<h3 id='compensation'>Get compensated by writing for EST!</h3>
		    			<p>EST is always looking to add more relevant content for our readers. Our goal 
		    			is to provide just the right amount of content for everyone and we know that there 
		    			are plenty of great writers out there who can do that!</p>
		    			<p>We need you to make that happen, that's why we're reaching out! There is so 
		    			much to cover in the esports world. </p>
		    			<p>These are the following areas that we are looking to add content for: </p>
		    			<ul id='content-needed'>
		    				<li>Overwatch</li>
		    				<li>Overwatch League</li>
		    				<li>ARMS</li>
		    				<li>Pokken Tournament DX</li>
		    				<li>Quake Champions</li>
		    				<li>CS:GO</li>
		    				<li>Super Smash Bros. Melee</li>
		    				<li>Super Smash Bros. 4 (Wii U)</li>
		    			</ul>
		    			
		    			<p>So, if you have a voice in any of these areas, and would like
		    			to be <i>compensated</i> for that voice, please reach out to us by filling
		    			out the form below. We are looking for all kinds of content (short, long-form, 
		    			opinion, match analysis, etc.). We'll get in contact with you ASAP.</p>
		    		</div>
		    		<div class='container'>
		    			<form class='info-tip-submit' action='/write-for-us' method='POST'>
		    				<% if(currentUser) { %>
		    				<div class='form-group row'>
		    					<div class='col-xs-6 col-md-6'>
		    						<label for='firstName'>First Name: </label>
		    						<input class='form-control' type='text' name='firstName' id='firstName' value='<%= currentUser.firstName %>'>
		    					</div>
		    					<div class='col-xs-6 col-md-6'>
		    						<label for='lastName'>Last Name: </label>
		    						<input class='form-control' type='text' name='lastName' id='lastName' value='<%= currentUser.lastName %>'>
		    					</div>
		    				</div>
		    				<div class='form-group row'>
		    					<div class='col-xs-6 col-md-6'>
		    						<label for='username'>Username: </label>
		    						<input class='form-control' type='text' name='username' id='username' value='<%= currentUser.username %>'>
		    					</div>
		    					<div class='col-xs-6 col-md-6'>
		    						<label for='email'>Email: </label>
		    						<input class='form-control' type='email' name='email' id='email' value='<%= currentUser.email %>'>
		    					</div>
		    				</div>
		    				<% } else { %>
		    				<div class='form-group row'>
		    					<div class='col-xs-6 col-md-6'>
		    						<label for='firstName'>First Name: </label>
		    						<input class='form-control' type='text' name='firstName' id='firstName'>
		    					</div>
		    					<div class='col-xs-6 col-md-6'>
		    						<label for='lastName'>Last Name: </label>
		    						<input class='form-control' type='text' name='lastName' id='lastName'>
		    					</div>
		    				</div>
		    				<div class='form-group row'>
		    					<div class='col-xs-6 col-md-6'>
		    						<label for='username'>Username: </label>
		    						<input class='form-control' type='text' name='username' id='username'>
		    					</div>
		    					<div class='col-xs-6 col-md-6'>
		    						<label for='email'>Email: </label>
		    						<input class='form-control' type='email' name='email' id='email'>
		    					</div>
		    				</div>
		    				<% } %>
		    				<hr>
		    				<p>Do you have any of the following social accounts for promoting your articles? Provide full links, please. </p>
		    				<div class='form-group row'>
		    					<div class='col-xs-6 col-md-6'>
		    						<label for='facebook'>Facebook: </label>
		    						<input class='form-control' type='text' name='social[]' id='facebook' />
		    					</div>
		    					<div class='col-xs-6 col-md-6'>
		    						<label for='twitter'>Twitter: </label>
		    						<input class='form-control' type='text' name='social[]' id='twitter' />
		    					</div>
		    				</div>
		    				<div class='form-group row'>
		    					<div class='col-xs-6 col-md-6'>
		    						<label for='instagram'>Instagram: </label>
		    						<input class='form-control' type='text' name='social[]' id='instagram' />
		    					</div>
		    					<div class='col-xs-6 col-md-6'>
		    						<label for='instagram'>Twitch: </label>
		    						<input class='form-control' type='text' name='social[]' id='twitch' />
		    					</div>
		    				</div>
		    				<hr>
		    				<p>Please provide at least 1-3 link(s) to your previous work. </p>
		    				<div class='form-group row'>
		    					<div class='col-xs-2 col-md-2'>
		    						<label>Links: </label>
		    					</div>
		    					<div class='col-xs-10 col-md-10'>
		    						<input class='form-control' type='text' name='links[]' id='links' />
		    						<input class='form-control' type='text' name='links[]' id='links' />
		    						<input class='form-control' type='text' name='links[]' id='links' />
		    					</div>
		    				</div>
		    				<hr>
		    				<div class='form-group row'>
		    					<div class='col-xs-12 col-md-12'>
		    						<label for='message'>Anything else you'd like to add? (compensation requirements, about yourself, etc.): </label>
		    						<textarea class='form-control' type='text' name='message' id='message' rows='8' required></textarea>
		    					</div>
		    				</div>
		    				<hr>
		    				<button class='btn btn-primary btn-est' type='submit'>Submit the Info!</button>
		    			</form>
		    		</div>
		    	</div>
		    </div>
	    </div>

<% include ./partials/footer %>