<% include ./partials/header %>
		<div class='container-fluid'>
			<div class='content-flex' id='write-wrapper'>
				<div class='section-header' id='write-submission-header'>
					<h1>Want to write for Esports Terminal?</h1>
					<p>Esports Terminal is a place for people to get content 
					on the games they love. We primarily publish content about esports. 
					That means professional teams, players, match analysis, meta updates, 
					patch releases, etc. Anything you can think of, we write about it.
					</p>
					<p>If you're a freelance journalist, blogger, commentator, or wanting 
					to get your start in writing for esports, we want to be in contact with you! 
					Here are the list of games that we currently report on: 
					</p>
					<div id='write-submission-games'>
						<ul>
							<li>Overwatch / Overwatch League</li>
							<li>CS:GO</li>
							<li>Street Fighter</li>
							<li>Quake</li>
							<li>Pokken Tournament DX</li>
							<li>ARMS</li>
							<li>Marvel vs. Capcom</li>
							<li>Super Smash Bros. (Wii U)</li>
							<li>Super Smash Bros. Melee</li>
						</ul>
						<img id='write-submission-logo' src="/media/branding/logo_est_reg.png">
					</div>
					<p>All you need to do is just fill out the form below and 
					we'll contact you when we review it! If you have any sample 
					work that is posted elsewhere, just send us the links to 
					some of those. If you're just starting out, try to include 
					a sample piece of writing in the comment section of the form.</p>
				</div>
				<div class='content-flex'>
					<form class='acct-update-form' id='write-submission-form' action='/write-for-us' method='POST'>
						<div class='write-submission-section' id='write-submission-user-info'>
							<label for='first-name'>First Name:</label>
							<input class='form-control' type='text' name='firstName' id='first-name' required />
							<label for='last-name'>Last Name:</label>
							<input class='form-control' type='text' name='firstName' id='last-name' required />
							<label for='email'>Email:</label>
							<input class='form-control' type='email' name='email' id='email' required />
						</div>
						<div class='write-submission-section' id='write-submission-social'>
							<p>Are you active on social media?</p>
							<label for='facebook'>Facebook:</label>
							<input class='form-control' type='text' name='social[]' id='facebook' />
							<label for='twitter'>Twitter:</label>
							<input class='form-control' type='text' name='social[]' id='twitter' />
						</div>
						<div class='write-submission-section' id='write-submission-previous-work'>
							<p>Please provide at least 1-3 link(s) to your previous work (if applicable).</p>
							<input class='form-control' type='text' name='links[]' id='links' />
							<input class='form-control' type='text' name='links[]' id='links' />
							<input class='form-control' type='text' name='links[]' id='links' />
						</div>
						<div class='write-submission-section' id='write-submission-comments'>
							<label for='message'>Anything else you'd like to add? (compensation requirements, about yourself, etc.):</label>
							<textarea class='form-control' type='text' name='message' id='message' rows='8' required></textarea>
						</div>
						<div id='write-submission-actions'>
							<button class='btn btn-secondary acct-btn' type='submit'>Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>












		<!--<div class='container-fluid'>-->
		<!--	<div class='row'>-->
		<!--		<div class='col-xs-12 col-md-12' id='page-header'>-->
		<!--			<h1>Write for Us!</h1>-->
		<!--			<form class='content-search' action='/search/articles' method='GET'>-->
		<!--				<div class="input-group">-->
		<!--				  <input type="text" class="form-control" name='search' placeholder="search articles...">-->
		<!--				  <span class="input-group-btn">-->
		<!--					<button class='btn btn-primary btn-est' type='submit'>Search</button>-->
		<!--				  </span>-->
		<!--				</div>-->
		<!--			</form>-->
		<!--		</div>-->
		<!--    </div>-->
		<!--    <hr>-->
		<!--    <div class='row'>-->
		<!--    	<div class='col-xs-12 col-md-12 '>-->
		<!--    		<div class='container' id='write-for-us'>-->
		<!--    			<h3 id='compensation'>Get compensated by writing for EST!</h3>-->
		<!--    			<p>EST is always looking to add more relevant content for our readers. Our goal -->
		<!--    			is to provide just the right amount of content for everyone and we know that there -->
		<!--    			are plenty of great writers out there who can do that!</p>-->
		<!--    			<p>We need you to make that happen, that's why we're reaching out! There is so -->
		<!--    			much to cover in the esports world. </p>-->
		<!--    			<p>These are the following areas that we are looking to add content for: </p>-->
		<!--    			<ul id='content-needed'>-->
		<!--    				<li>Overwatch</li>-->
		<!--    				<li>Overwatch League</li>-->
		<!--    				<li>ARMS</li>-->
		<!--    				<li>Pokken Tournament DX</li>-->
		<!--    				<li>Quake Champions</li>-->
		<!--    				<li>CS:GO</li>-->
		<!--    				<li>Super Smash Bros. Melee</li>-->
		<!--    				<li>Super Smash Bros. 4 (Wii U)</li>-->
		<!--    			</ul>-->
						
		<!--    			<p>So, if you have a voice in any of these areas, and would like-->
		<!--    			to be <i>compensated</i> for that voice, please reach out to us by filling-->
		<!--    			out the form below. We are looking for all kinds of content (short, long-form, -->
		<!--    			opinion, match analysis, etc.). We'll get in contact with you ASAP.</p>-->
		<!--    		</div>-->
		<!--    		<div class='container'>-->
		<!--    			<form class='info-tip-submit' action='/write-for-us' method='POST'>-->
		<!--    				<% if(currentUser) { %>-->
		<!--    				<div class='form-group row'>-->
		<!--    					<div class='col-xs-6 col-md-6'>-->
		<!--    						<label for='firstName'>First Name: </label>-->
		<!--    						<input class='form-control' type='text' name='firstName' id='firstName' value='<%= currentUser.firstName %>'>-->
		<!--    					</div>-->
		<!--    					<div class='col-xs-6 col-md-6'>-->
		<!--    						<label for='lastName'>Last Name: </label>-->
		<!--    						<input class='form-control' type='text' name='lastName' id='lastName' value='<%= currentUser.lastName %>'>-->
		<!--    					</div>-->
		<!--    				</div>-->
		<!--    				<div class='form-group row'>-->
		<!--    					<div class='col-xs-6 col-md-6'>-->
		<!--    						<label for='username'>Username: </label>-->
		<!--    						<input class='form-control' type='text' name='username' id='username' value='<%= currentUser.username %>'>-->
		<!--    					</div>-->
		<!--    					<div class='col-xs-6 col-md-6'>-->
		<!--    						<label for='email'>Email: </label>-->
		<!--    						<input class='form-control' type='email' name='email' id='email' value='<%= currentUser.email %>'>-->
		<!--    					</div>-->
		<!--    				</div>-->
		<!--    				<% } else { %>-->
		<!--    				<div class='form-group row'>-->
		<!--    					<div class='col-xs-6 col-md-6'>-->
		<!--    						<label for='firstName'>First Name: </label>-->
		<!--    						<input class='form-control' type='text' name='firstName' id='firstName'>-->
		<!--    					</div>-->
		<!--    					<div class='col-xs-6 col-md-6'>-->
		<!--    						<label for='lastName'>Last Name: </label>-->
		<!--    						<input class='form-control' type='text' name='lastName' id='lastName'>-->
		<!--    					</div>-->
		<!--    				</div>-->
		<!--    				<div class='form-group row'>-->
		<!--    					<div class='col-xs-6 col-md-6'>-->
		<!--    						<label for='username'>Username: </label>-->
		<!--    						<input class='form-control' type='text' name='username' id='username'>-->
		<!--    					</div>-->
		<!--    					<div class='col-xs-6 col-md-6'>-->
		<!--    						<label for='email'>Email: </label>-->
		<!--    						<input class='form-control' type='email' name='email' id='email'>-->
		<!--    					</div>-->
		<!--    				</div>-->
		<!--    				<% } %>-->
		<!--    				<hr>-->
		<!--    				<p>Do you have any of the following social accounts for promoting your articles? Provide full links, please. </p>-->
		<!--    				<div class='form-group row'>-->
		<!--    					<div class='col-xs-6 col-md-6'>-->
		<!--    						<label for='facebook'>Facebook: </label>-->
		<!--    						<input class='form-control' type='text' name='social[]' id='facebook' />-->
		<!--    					</div>-->
		<!--    					<div class='col-xs-6 col-md-6'>-->
		<!--    						<label for='twitter'>Twitter: </label>-->
		<!--    						<input class='form-control' type='text' name='social[]' id='twitter' />-->
		<!--    					</div>-->
		<!--    				</div>-->
		<!--    				<div class='form-group row'>-->
		<!--    					<div class='col-xs-6 col-md-6'>-->
		<!--    						<label for='instagram'>Instagram: </label>-->
		<!--    						<input class='form-control' type='text' name='social[]' id='instagram' />-->
		<!--    					</div>-->
		<!--    					<div class='col-xs-6 col-md-6'>-->
		<!--    						<label for='instagram'>Twitch: </label>-->
		<!--    						<input class='form-control' type='text' name='social[]' id='twitch' />-->
		<!--    					</div>-->
		<!--    				</div>-->
		<!--    				<hr>-->
		<!--    				<p>Please provide at least 1-3 link(s) to your previous work. </p>-->
		<!--    				<div class='form-group row'>-->
		<!--    					<div class='col-xs-2 col-md-2'>-->
		<!--    						<label>Links: </label>-->
		<!--    					</div>-->
		<!--    					<div class='col-xs-10 col-md-10'>-->
		<!--    						<input class='form-control' type='text' name='links[]' id='links' />-->
		<!--    						<input class='form-control' type='text' name='links[]' id='links' />-->
		<!--    						<input class='form-control' type='text' name='links[]' id='links' />-->
		<!--    					</div>-->
		<!--    				</div>-->
		<!--    				<hr>-->
		<!--    				<div class='form-group row'>-->
		<!--    					<div class='col-xs-12 col-md-12'>-->
		<!--    						<label for='message'>Anything else you'd like to add? (compensation requirements, about yourself, etc.): </label>-->
		<!--    						<textarea class='form-control' type='text' name='message' id='message' rows='8' required></textarea>-->
		<!--    					</div>-->
		<!--    				</div>-->
		<!--    				<hr>-->
		<!--    				<button class='btn btn-primary btn-est' type='submit'>Submit the Info!</button>-->
		<!--    			</form>-->
		<!--    		</div>-->
		<!--    	</div>-->
		<!--    </div>-->
	 <!--   </div>-->

<% include ./partials/footer %>