/* body & html */
body, html {
    background-color:#fff;
    color:#000;
    font-size:12pt;
    font-family: 'Poppins', sans-serif;
}

/* login page */
#admin-login img{
	width:250px;
	height:auto;
	display:block;
	margin: 25px auto;
}

#admin-login label, input, button{
	display:block;
	text-align:center;
	margin:5px auto;
}

/* Header/Navigation */
.navbar.navbar-light{
    border-bottom: 1px solid #000;
    margin-bottom:25px;
}

#nav-logo{
    width:auto;
    max-height:100px;
}

.collapse.navbar-collapse > ul{
    font-size:14pt;
    margin: 50px 0 0 20px;
}

.navbar-nav > .nav-item > .nav-link {
    color: #000;
}

/* admin content view */
.view-header{
    margin: 0 auto 25px auto;
	width:70vw;
}

.view-header{
    text-align:center;
}

.search-label{
    text-align:right;
}

.view-list{
    margin:0 auto;
    width:80vw;
}

/* dashboard */
#quick-stats label, p{
    display: inline-block;
}

/* Forms */
.btn-est{
    background-color: #333399;
    font-size: 1vw;
    width:20vw;
}

.btn-est-danger{
    font-size: 1vw;
}

hr{
    display:block;
    border-color:rgba(0, 0, 0, 0.5);
    width:60%;
}

#page-header{
    width:60%;
    margin:25px auto;
}

#page-header a{
    display: block;
    margin: 0 auto;
}

.user-account-edit{
    text-align:center;
    width:100%;
    height:100%;
}

.user-account-edit label, input{
    display:inline-block;
    vertical-align: baseline;
}

.user-account-edit label{
    margin-left:0;
    width:50%;
 }

 .user-account-edit input{
    text-align:left;
    float:right;
    width:80%;
 }
 
 .user-account-edit select{
    text-align:left;
    float:right;
    width:80%;
 }
 
 .user-account-edit button{
     display:inline-block;
     margin-bottom:50px;
     height:50px;
     width:25%;
 }
 
 .new-item-entry{
     margin:0 auto 50px auto;
     width:50vw;
 }

.new-item-entry button{
    display:block;
}


/*.new-item-entry{*/
/*	width:100%;*/
/*	background-color:#c0d5f7;*/
/*	padding:10px;*/
/*	border:2px solid black;*/
/*	margin-bottom:30px;*/
/*}*/

/*.checkbox{*/
/*	display:inline-block;*/
/*	padding:25px;*/
/*}*/

/*.new-item-entry button{*/
/*    width:50%;*/
/*    display:block;*/
/*    margin:25px auto;*/
/*}*/

/*.new-item-entry input{*/
/*	width:100%;*/
/*	text-align:left;*/
/*	border-radius:3px;*/
/*}*/

/*.new-item-entry textarea{*/
/*	width:100%;*/
/*	height:250px;*/
/*}*/

/*.item-list thead, th, td, tr{*/
/*    padding:10px;*/
/*    text-align:center;*/
/*    color:black;*/
/*    border-bottom:2px solid black;*/
/*}*/

.item-list img{
	height:125px;
	width:auto;
}

.game-select{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}

.game-select label{
    width:20%;
    height:auto;
    display:inline-block;
}

.meta-select-thumbnail{
    width:100%;
    height:auto;
    margin:10px 0 10px 0;
}

.meta-select-thumbnail{
    transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.meta-select-thumbnail:hover{
   opacity:0.4;
}

.game-select label > input{
    visibility:hidden;
    position:absolute;
}

.game-select label > input + img{
    cursor:pointer;
    background-color:transparent;
    border-radius: transparent;
    border: transparent;
}

.game-select label > input:checked + img{
    background-color:#0F0F63;
    border-radius:10px;
    border: 2px solid white;
}

#delete-item{
    margin: 0 auto 25px auto;
    width:50%;
}

#delete-item button{
    width:100%;
}
