/* body & html */
body, html {
    background-color:#fff;
    color:#000;
    font-size:12pt;
    font-family: 'Poppins', sans-serif;
}

/* login page */
#admin-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-logo{
    flex-basis: 20vw;
}

#login-logo img{
    width:100%;
    height: auto;
}

#credential-entry{
    text-align: center;
    flex-shrink: 2;
}

#credential-entry label{
    padding: 10px;
}

#credential-entry .btn{
    display: block;
    margin: 0 auto;
}

#login-logo, #credential-entry{
    margin: 20px;
}

/* Header/Nav */
.navbar.navbar-light{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000;
    margin-bottom:25px;
}

#nav-logo{
    width: auto;
    max-height: 75px;
}

.collapse.navbar-collapse > ul{
    font-size:14pt;
    margin: 50px 0 0 20px;
}

.navbar-nav > .nav-item > .nav-link {
    color: #000;
}

/* Page Headers */
.page-header{
    display: flex;
    justify-content: space-around;
}

.view-list{
    margin:0 auto;
    width:80vw;
}

.clear-div{
    clear:both;
}

/* General Form Styles */
.btn-est{
    background-color: #333399;
    font-size: 1vw;
    width:20vw;
}

.btn-est-danger{
    font-size: 1vw;
    width:40vw;
}

hr{
    display:block;
    border-color:rgba(0, 0, 0, 0.5);
    width:95vw;
}

.content-form{
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 25px;
}

.content-form label{
    font-weight: bold;
    margin-top: 10px;
}

.content-form-col{
    flex-basis: 40vw;
    display: flex;
    flex-direction: column;
}

.content-form-actions{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.content-form-actions .btn{
    width: 10vw;
    height: 5vh;
    font-size: 1vw;
}

.content-form-actions .btn-outline-primary{
    color: #333399;
    border-color: #333399;
}

.content-form-actions .btn-outline-primary:hover{
    color: #fff;
    background-color: #333399;
}

.content-form-actions .btn-outline-info{
    color: blue;
    border-color: blue;
}

.content-form-actions .btn-outline-info:hover{
    color: #fff;
    background-color: blue;
}

.delete-item-container form{
    width: 90vw;
}

.delete-item-container .btn{
    display: block;
    margin-left: auto;
}

/* User Account Creation/Edit Form */
.account-form{
    display: flex;
    justify-content: center;
}

.account-form .content-form-col{
    margin: 0 20px 0 20px;
    flex-basis: 30vw;
}

.account-form .btn{
    margin-top: 15px;
}

/* Article - Add/Edit Forms */
.article-form{
    display: flex;
    justify-content: space-around;
}

#article-meta{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#article-category-selection{
    display: flex;
    justify-content: space-around;
}

#article-category-selection .form-check-label{
    font-weight: 400;
}

#categories{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#owl-teams{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-item-entry{
     margin: 0 auto 50px auto;
     width:50vw;
 }

.new-item-entry button{
    display:block;
}

.view-list img{
	height:125px;
	width:auto;
}

#delete-item{
    margin: 0 auto 25px auto;
    width:50%;
}

#delete-item button{
    width:100%;
}

#addTeamMember{
    color: #fff;
    display: block;
    margin: 0 auto 25px auto;
}