/* Admin Login */
#admin-login img{
	width:250px;
	height:auto;
	display:block;
	margin: 25px auto;
}

#admin-login label, input, button{
	display:block;
	text-align:center;
	margin:5px auto;
}


/* Header/Navigation */
.navbar.navbar-default{
    line-height: 120px;
    background-color:#fff;
    border-bottom: 1px solid #000;
}

#nav-logo{
    width:auto;
    max-height:100px;
}

.collapse.navbar-collapse > ul{
    font-size:14pt;
    margin: 70px 0 0 20px;
    float:right;
}

.collapse.navbar-collapse li > a{
    color:#000;
}

.collapse.navbar-collapse li > a:hover{
    color:#636363;
}

.content-actions{
	width:50%;
}

/* dashboard */
#quick-stats label, p{
    display: inline-block;
}

/* Forms */
.user-account-edit{
    text-align:center;
    width:100%;
    height:100%;
}

.user-account-edit label, input{
    display:inline-block;
    vertical-align: baseline;
}

.user-account-edit label{
    margin-left:0;
    width:50%;
 }

 .user-account-edit input, select{
    text-align:left;
    float:right;
    width:80%;
 }
 
 .user-account-edit button{
     display:inline-block;
     margin-bottom:50px;
     height:50px;
     width:25%;
 }

.new-item-entry{
	width:100%;
	background-color:#c0d5f7;
	padding:10px;
	border:2px solid black;
	margin-bottom:30px;
}

.new-item-entry button{
	display:inline-block;
	width:100%;
	height:50px;
	background-color:#02ce0c;
}

.checkbox{
	display:inline-block;
	padding:25px;
}

.new-item-entry input{
	width:100%;
	text-align:left;
	border-radius:3px;
}

.new-item-entry textarea{
	width:100%;
	height:250px;
}

.item-list thead, th, td, tr{
    padding:10px;
    text-align:center;
    color:black;
    border-bottom:2px solid black;
}

.item-list img{
	height:125px;
	width:auto;
}

.game-select{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}

.game-select label{
    width:20%;
    height:auto;
    display:inline-block;
}

.meta-select-thumbnail{
    width:100%;
    height:auto;
    margin:10px 0 10px 0;
}

.meta-select-thumbnail{
    transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.meta-select-thumbnail:hover{
   opacity:0.4;
}

.game-select label > input{
    visibility:hidden;
    position:absolute;
}

.game-select label > input + img{
    cursor:pointer;
    background-color:transparent;
    border-radius: transparent;
    border: transparent;
}

.game-select label > input:checked + img{
    background-color:#0F0F63;
    border-radius:10px;
    border: 2px solid white;
}


#delete-item{
	background-color:#ff4949;
}

#delete-item button{
	width:100%;
	background-color:#ff0000;
	font-style: bold;
	font-size:24pt;
	color:#000000;
}


