/* BODY/HTML */
body {
    background-color:black;
    font-family:Geneva;
    font-size:12pt;
    color:rgba(255, 255, 255, 0.90);
}

/* LANDING PAGE */
#landing-container{
    position:relative;
    background-color:#cecece;
}

#landing-container img{
    position:absolute;
    width:100%;
    height:auto;
    left:0;
}

.landing-login{
    position:relative;
    width:30%;
    height:15%;
    float:right;
    margin-top:200px;
    margin-right:10px;
    text-align:center;
}

.landing-login input, button{
    color:black;
    text-align:center;
}

.landing-login label{
    color:rgba(255, 255, 255, 0.90);
}

.landing-login input{
    border-radius:5px;
    background-color:rgba(255, 255, 255, 0.90);
}

.landing-login button{
    margin:25px 0 25px 0;
    border-radius: 10px;
    width:200px;
    height:30px;
}

.landing-login label, input{
    display:block;
    margin:0 auto;
    max-width:100%;
}

.landing-login label, button{
    margin-top:15px;
}

#create-account-btn{
    display:block;
    margin: 0 auto;
    width:90%;
    height: auto;
}

#primary-wrapper{
    display:block;
    width:95%;
    -webkit-box-shadow: 0px 0px 39px -3px rgba(51,51,153,1);
    -moz-box-shadow: 0px 0px 39px -3px rgba(51,51,153,1);
    box-shadow: 0px 0px 39px -3px rgba(51,51,153,1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius:5px;
    padding:0 25px 25px 25px;
    background-color:#21212d;
    background-color:#0b0b0f;
    background-color:#16161d;
    background-color:#16161d;
}

#primary-wrapper h1, h2{
    text-align:center;
}

/* TOP NAVIGATION */
.navbar.navbar-default{
    line-height: 170px;
}
.navbar-header{
    padding-left:25px;
}

#nav-logo{
    width:auto;
    max-height:150px;
}

.collapse.navbar-collapse > ul{
    font-size:16pt;
    font-weight:bold;
    margin: 120px 0 0 20px;
}

.collapse.navbar-collapse li > a{
    color:black;
}

#quick-fb, #quick-tw, #quick-ins{
    color:#ffffff;
    background-color:#333399;
}

.nav.navbar-nav.navbar-right{
    padding-right:25px;
}

/* LOGIN PAGE */
#login-page-auth{
    margin-top:50px;
    color:black;
    text-align:center;
}

#login-page-auth img, label, input{
    display:block;
}

#login-page-auth label, input{
    margin:0 auto;
}

#login-page-auth img{
    width:100%;
}

#login-page-auth label{
    margin-top: 25px;
    color:rgba(255, 255, 255, 0.95);
}

#login-page-auth input{
    border-radius:5px;
}

#login-page-auth button{
    margin:25px 0 25px 0;
    font-weight:bold;
    width:140px;
    height:50px;
}

/* COMMON ITEMS / ADVERTS */
.section-title{
    text-align:center;
}

.header-image{
    max-width:55%;
    display:block;
    margin:0 auto;
    padding-bottom:15px;
}

.leaderboard-ad, .billboard-ad, .rectangle-ad, .skyscraper-ad{
    display:block;
    margin:25px auto;
    max-width:100%;
}

.source-link, .source-link:hover{
    text-decoration:underline;
    color:rgba(255, 255, 255, 0.90);
}

.end-content-return{
    text-align:right;
}

.end-content-return > a{
    color:rgba(255, 255, 255, 0.90);
}

.end-content-return > a:hover{
    text-decoration: underline;
}

.read-more{
    text-align:left;
}

.read-more > a{
    color:rgba(255, 255, 255, 0.90);
    text-decoration: underline;
}

.article-header > a{
    color:rgba(255, 255, 255, 0.90);
}


/* my_account */
.account-nav{
    width:200px;
}

.account-nav ul{
    list-style: none;
}

.account-nav a{
    color:rgba(255, 255, 255, 0.95);
}

.account-nav li{
    margin-bottom:10px;
}

/* main_meta */
#user-meta-sub-header{
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    display:block;
    text-align:left;
    margin-bottom:20px;
}

#user-meta-header{
    text-align:center;
}

#user-meta-header .header-image{
    width:20%;
}

.user-meta-sub-header{
    text-align:left;
}

.user-meta-news-view{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    padding-top:20px;
    margin-bottom:20px;
}

.user-meta-article-preview{
    position:relative;
    color:white;
    text-decoration: none;
    border: 3px solid white;
    max-width:350px;
    height:250px;
    object-fit: cover;
    margin:0 auto 20px auto;
}

.user-meta-article-preview .user-meta-article-preview-image:hover{
    opacity: 0.4;
}

.user-meta-article-preview{
    max-width:250px;
    height:auto;
}

.user-meta-article-preview h2{
    font-size:100%;
}

#meta-wrapper .user-meta-article-preview{
    border: 1px solid white;
    max-width:250px;
    height:auto;
    margin:5px;
}

#meta-wrapper .user-meta-article-preview h2{
    font-size:125%;
}

.user-meta-article-preview-image{
    width:100%;
    height:100%;
    margin:0 auto;
    display:block;
    text-align: center;
    transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.user-meta-article-title{
    position:absolute;
    color:white;
    bottom:0;
    left:25px;
    padding:10px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
    max-width: 350px;
}


/* article_view */
#post-wrapper{
    border-left: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px 0 0 0;
    height:100%;
}

#article-view-sidebar .article-sidebar-preview{
    border: 1px solid rgba(255, 255, 255, 0.90);
    max-width:250px;
    height:auto;
    margin:5px;
}

#article-view-sidebar .article-sidebar-preview h2{
    font-size:125%;
}

.sidebar{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.article-figure{
    max-width:100%;
    max-height:300px;
    border: 3px solid rgba(255, 255, 255, 0.80);
    margin-bottom:20px;
    margin:0 auto;
    display:block;
}

.meta-container p{
    display:inline-block;
    padding-left:10px;
}

.post-content figcaption{
    font-style: italic;
    text-align:center;
}

.article-body{
    margin:25px 0px 25px 0px;
    font-size:14pt;
    text-align:left;
    white-space: pre-wrap;
}
.article-body-preview{
    margin-top:10px;
    white-space:pre-wrap;
    text-align:left;
}

#suggested-articles{
    border-top: 3px solid rgba(255, 255, 255, 0.5);
}

#suggested-articles .header-image{
    max-width:30%;
    height:auto;
}

.content-scroller{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.content-scroller .article-sidebar-preview{
    max-width:250px;
    height:auto;
}

.content-scroller .article-sidebar-preview h2{
    font-size:100%;
}

/* info.html */
#info-content p{
    text-align:left;
}

#info-content a{
    color:white;
    text-decoration: underline;
}
#info-page-square-ad-1, #info-page-square-ad-2{
    display:inline-block;
    margin:0 auto;
}

#infographic{
    margin: auto;
    height: auto;
    width:100%;
    border-radius:25px;
}

/* events.html */
.events-list{
    text-align:center;
    background-color:white;
}
.events-list thead, th, td, tr{
    padding:10px;
    text-align:center;
    color:black;
    border-bottom:2px solid black;
}

.events-list thead{
    background: rgb(206,206,206); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(206,206,206,1) 0%, rgba(255,255,255,1) 50%, rgba(206,206,206,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 50%,rgba(206,206,206,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 50%,rgba(206,206,206,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

.events-list button{
    background-color:transparent;
    border:none;
}

.event-game-thumbnail{
    height:50px;
    width:auto;
}

#events-wrapper, #event-wrapper{
    text-align:center;
}

#events-wrapper .header-image{
    max-width:30%;
}

#event-wrapper .article-sidebar-preview{
    max-width:45%;
    height:auto;
}

#event-wrapper .article-sidebar-preview h2{
    font-size:125%;
}

#events-today{
    max-height:550px;
    overflow:auto;
    width:100%;
}

#past-events-list, #upcoming-events-list{
    max-height:800px;
    overflow:auto;
    width:100%;
}

#events-suggestion, #events-suggestion a{
    text-align:center;
    font-size:24pt;
    margin-top:25px;
    color:rgba(255, 255, 255, 0.90);
}

#events-wrapper .billboard-ad{
    padding-top:25px;
}

.event-figure{
    max-width:100%;
    max-height:400px;
    margin:0 auto;
    display:block;
    text-align: center;
    border: 3px solid white;
}

.event-meta-container{
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 0 5px 5px;
}

.event-meta-container h3, p{
    display:block;
    text-align:center;
}

.event-meta-container h3{
    text-decoration: underline;
}

.event-meta-container p{
    font-size:14pt;
}

.event-header figure{
    margin-bottom:25px;
}

.event-header{
    width:100%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 0 5px 5px;
}

#related-events{
    border-top: 3px solid rgba(255, 255, 255, 0.5);
}

#related-events .header-image{
    width:30%;
}

/* news.html */
.article-preview{
    position:relative;
    display:block;
    text-align:center;
    color:white;
    text-decoration: none;
    border: 3px solid white;
    margin:auto;
    margin-bottom:20px;
    max-width:100%;
    height:auto;
    object-fit: cover;
}

.article-preview a, a:hover, a:active, a:visited{
    text-decoration:none;
}
.article-preview.article-image{
    width:100%;
    height:100%;
    margin:0 auto;
    display:block;
    transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}
.article-preview .article-image:hover{
    opacity: 0.4;
}

.article-preview .article-title{
    position:absolute;
    color:white;
    bottom:0;
    left:25px;
    padding:10px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
}
.article-sidebar-preview{
    position:relative;
    color:white;
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.8);
    max-width:48%;
    height:auto;
    object-fit: cover;
    margin:0 auto 20px auto;
}

.article-sidebar-image{
    width:100%;
    height:100%;
    margin:0 auto;
    display:block;
    text-align: center;
    transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.article-sidebar-preview .article-sidebar-image:hover{
    opacity: 0.4;
}

.article-sidebar-preview .article-title{
    position:absolute;
    color:rgba(255, 255, 255, 0.8);
    bottom:0;
    left:25px;
    padding:10px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
    width: auto;
    max-height:48%;
    font-size:80%;
}

/* stream.html */
#twitch-stream-player{
    text-align:center;
}

#stream-view .leaderboard-ad{
    margin: 75px auto;
}

#stream-chat{
    text-align:center;
}

#stream-page-header .header-image{
    max-width:30%;
    min-width:25%;
}

/* REGISTER */
#registration-header{
    width:100%;
}
.new-user-entry{
    width:95%;
    height:auto;
    padding:10px;
    margin: 20px auto;
    text-align:left;
}

.new-user-entry label{
    display:block;
    color:white;
    text-align:left;
    width:80%;
    margin: 0 auto;
}

.new-user-entry input{
    display:block;
    text-align:left;
    border-radius:3px;
    margin:0 auto;
    width:50%;
    color:black;
}

.game-select{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}

.game-select label{
    width:33%;
    height:auto;
    display:inline-block;
}

.meta-select-thumbnail{
    width:100%;
    height:auto;
    margin:10px 0 10px 0;
}

.meta-select-thumbnail{
    transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.meta-select-thumbnail:hover{
   opacity:0.4;
}

.game-select label > input{
    visibility:hidden;
    position:absolute;
}

.game-select label > input + img{
    cursor:pointer;
    background-color:transparent;
    border-radius: transparent;
    border: transparent;
}

.game-select label > input:checked + img{
    background-color:#0F0F63;
    border-radius:10px;
    border: 2px solid white;
}

.finish-registration{
    display:block;
    margin:0 auto;
    border-radius: 15px;
    font-size:25pt;
    font-weight:bold;
    background-color:#333399;
    color: rgba(255, 255, 255, 0.95);
    width:300px;
    height:100px;
    -webkit-box-shadow: 0px -1px 10px -4px rgba(168,168,168,1);
    -moz-box-shadow: 0px -1px 10px -4px rgba(168,168,168,1);
    box-shadow: 0px -1px 10px -4px rgba(168,168,168,1);
}

.registration-guide{
    display:block;
    max-width:100%;
    height:auto;
}

#register-guide-2{
    margin-top:350px;
}

/* PODCAST */
#podcast-header{
    text-align:center;
}


/* FOOTER */
#footer{
	padding-top:15px;
	background: rgb(51,51,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(51,51,153,1) 0%, rgba(0,0,0,1) 0%, rgba(114,114,192,1) 100%, rgba(51,51,153,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(51,51,153,1) 0%,rgba(0,0,0,1) 0%,rgba(114,114,192,1) 100%,rgba(51,51,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(51,51,153,1) 0%,rgba(0,0,0,1) 0%,rgba(114,114,192,1) 100%,rgba(51,51,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333399', endColorstr='#333399',GradientType=0 );
    position:relative;
    margin-top:15px;
    width:100%;
}

.footer-logo{
    max-height:150px;
    width:auto;
    margin: 0 auto;
    display:block;
}

#footer a, p{
	color:white;
}

#footer p{
    font-weight:bold;
}

#footer-container{
	max-height: 15px;
    width:100%;
}

#footer-social{ 
	display:block; 
    margin:0; 
    padding:0;
	list-style:none;
}

#footer-social .btn{
	padding:2px;
    margin:5px;
    max-width:100%;
    text-align:left;
    background-color:black;
}

#copyright{
    text-align:center;
}
