/* body & html */
body, html {
    background-color: #fff;
    color: #000;
    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
}  

#primary-wrapper{
    display:block;
    width:95vw;
}

h1{
    font-family: 'Russo One', sans-serif;
    text-align:center;
}

h2{
    font-family: 'Russo One', sans-serif;
    text-align:center;
}

hr{
    display:block;
    border-color:rgba(0, 0, 0, 0.5);
    width:60%;
}

/* commons */
.content-divider-sm{
    border-bottom:3px solid red;
    width:50%;
    margin:0 auto 20px auto;
}

.content-divider-md{
    border-bottom:3px solid red;
    width:25%;
    margin:0 auto 20px auto;
}

.content-divider-lg{
    border-bottom:3px solid red;
    width:20%;
    margin:0 auto 20px auto;
}

.no-content-msg{
    text-align:center;
}

.clear-div{
    clear:both;
    padding-top: 4px;
}

.btn-est{
    background-color: #333399;
    font-size: 1vw;
    width:30vw;
}

.btn-est-danger{
    font-size: 1vw;
}

.btn-est-outline{
    border-radius: 20px;
    border-color: #333399;
    color: #333399;
    margin: 20px;
    width: 20vw;
    font-size: 1.5vw;
}

.btn-est-outline:hover{
    background-color: #333399;
    color: #fff;
}

.source-link{
    text-align:left;
}

.source-link:hover{
    text-decoration: underline;
}

#page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-header h1{
    background-color: #333399;
    color: #fff;
    padding: 10px;
    width: 30vw;
    border-radius: 25px 0 25px 0;
}

/* overwatch league */
.owl-container{
    margin: -25px 0 0 0;
    display: flex;
    flex-direction: column;
    background: #ffffff; /* Old browsers */
    background: -webkit-linear-gradient(#ffffff 0%, #cae2f9 71%, #f9e2b8 99%);
    background: -moz-linear-gradient(#ffffff 0%, #cae2f9 71%, #f9e2b8 99%);
    background: -o-linear-gradient(#ffffff 0%, #cae2f9 71%, #f9e2b8 99%);
    background: linear-gradient(#ffffff 0%, #cae2f9 71%, #f9e2b8 99%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9e2b8',GradientType=0 );
}

.owl-header-row{
    display: flex;
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    margin-bottom: 50px;
    justify-content: space-around;
    align-items: center;
}

#pacific-division-title, #atlantic-division-title{
    flex-basis: 25vw;
}

@media screen and (max-width: 760px){
    #pacific-division-title, #atlantic-division-title{
    display: none;
    }
}

#owl-est-banner{
    flex-basis: 40vw;
    max-width: 80%;
}

.owl-sections{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 25px;
}

.owl-left-column, .owl-right-column{
    flex-basis: 25vw;
}

.owl-center-column{
    flex-basis: 40vw;
    padding: 10px 25px 10px 25px;
    border-left: 5px solid #F99E1A;
    border-right: 5px solid #F99E1A;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.owl-left-column, .owl-right-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.owl-team-container{
    width: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.owl-team-logo{
    width: 100%;
    opacity: 1;
}

.direct-team-link{
    border: 3px solid rgba(252, 205, 136, 1);
    border-radius: 25px 0 25px 0;
    padding: 8px;
    color: #000;
    font-size: 1vw;
    background-color: #F99E1A;
    display: none;
    text-align: center;
}

.direct-team-link:hover{
    text-decoration: none;
    color: #000;
}

.owl-content-preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw;
}

.owl-article-preview {
    position: relative;
    text-decoration: none;
    flex-basis: 14vw;
    flex-grow: 1;
    flex-shrink: 0;
}

.owl-article-preview-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.owl-article-preview-image:hover{
    opacity: 0.5;
}

.owl-preview-headline{
    position:absolute;
    bottom: 0;
    padding: 15px;
    opacity: 0;
    background-color: rgb(252, 218, 151);
    background-color: rgba(252, 218, 151, 0.7);
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .9s ease-in-out, height .3s ease-in-out;;
    -moz-transition: opacity .9s ease-in-out, height .3s ease-in-out;
    -o-transition: opacity .9s ease-in-out, height .3s ease-in-out;
    transition: opacity .9s ease-in-out, height .3s ease-in-out;
}

.owl-preview-headline:hover{
    opacity: 1;
    height:100%;
}

.owl-article-title{
    font-size: 1.2vw;
    color: #000;
}



.owl-footer-row{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    opacity:0;
    
}

.table-owl-schedule{
    border-collapse: collapse;
    text-align: center;
    border-top: 5px solid #F99E1A;
    border-radius: 0 0 25px 0;
}

.table-owl-schedule th{
    background-color: rgba(23, 75, 151, 1);
    color: #fff;
    border: none;
}

.table-owl-schedule th:last-child{
    border-radius: 0 0 25px 0;
    border: none;
}

.table-owl-schedule th:nth-child(2){
    border: none;
}

.table-owl-schedule th:nth-child(1){
    border: none;
}

.table-owl-schedule td{
    border: none;
}

.btn-owl{
    width: 15vw;
    font-size: 1vw;
    border-radius: 25px 0 25px 0;
    border: 3px solid rgba(252, 205, 136, 1);
    color: #fff;
    background: -moz-linear-gradient(45deg, rgba(23,75,151,0.66) 0%, rgba(23,75,151,1) 30%, rgba(23,75,151,1) 70%, rgba(23,75,151,0.66) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(23,75,151,0.66) 0%,rgba(23,75,151,1) 30%,rgba(23,75,151,1) 70%,rgba(23,75,151,0.66) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(23,75,151,0.66) 0%,rgba(23,75,151,1) 30%,rgba(23,75,151,1) 70%,rgba(23,75,151,0.66) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8174b97', endColorstr='#a8174b97',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-transition: background-color .7s ease-in-out;
    -moz-transition: background-color .7s ease-in-out;
    -o-transition: background-color .7s ease-in-out;
    transition: background-color .7s ease-in-out;
}

.btn-owl:hover{
    border: 3px solid rgba(252, 205, 136, 1);
}

@media screen and (max-width: 760px){
    #owl-overall-schedule .btn{
        width: 30vw;
        font-size: 2vw;
    }
}


#more-owl-news{
    margin-top: 25px;
    width: 30vw;
}

.owl-video-content{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.owl-video-content iframe{
    width: 854px;
    height: 480px;
}

@media screen and (max-width: 900px){
    .owl-video-content iframe{
        width: 427px;
        height: 240px;
    }
}

/* team view */
#team-header-row{
    padding-left: 0;
    padding-right: 0;
    justify-content: space-around;
    align-items: flex-start;
}

.team-logo-name{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 760px){
    #team-header-row{
        flex-direction: column;
        align-items: center;
    }
}

#team-logo{
    width: 20vw;
}

.team-info{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 20vw;
}

.team-info p{
    text-align: left;
    flex-basis: 15vw;
}

.team-info a{
    width: 100%;
}

.team-info span{
    margin-right: 15px;
    font-weight: bold;
}

@media screen and (max-width: 760px){
    .team-info{
        width: 80vw;
    }
    
    .team-info p{
        flex-basis: 100%;
    }
    
    .team-info a{
        width: 100%;
    }
    
    .team-info p:last-child{
        margin:0  auto;
    }
}

#owl-banner-team-view{
    flex-basis: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.banner-team-view{
    display: block;
    margin: 0 auto;
}

#team-video{
    width: 854px;
    height: 480px;
}

@media screen and (max-width: 900px){
    #team-video{
        width: 427px;
        height: 240px;
    }
}

.team-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-news{
    padding: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.owl-team-article{
    flex-basis: 17vw;
    margin: 5px;
}

.owl-team-article:last-child{
    flex-basis: 20vw;
}

#more-team-news{
    flex-basis: 50vw;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 760px){
    #more-team-news .btn{
        width: 80vw;
        font-size: 2vw;
    }
}

.team-roster{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.team-member{
    flex-basis: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.member-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

.member-info p{
    text-align: left;
}

.member-info h4{
    text-align: center;
}

.member-info span{
    margin-right: 10px;
}

.member-image{
    max-width: 10vw;
    opacity: 1;
}

#profile-pic{
    width: 100%;
    border: 4px solid #F99E1A;
    border-radius: 50%;
    transition: transform 1s ease-in-out;
}

@media screen and (max-width: 760px){
    .team-member{
        flex-basis: 50vw;
    }
    
    .member-image{
        max-width: 20vw;
    }
}

#member-info-top{
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items: flex-start;
}

#member-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#member-bio{
    margin-left: 10px;
}


#owl-team-schedule{
    flex-grow: 10;
    flex-basis: 80vw;
    opacity:1;
}

@media screen and (max-width: 760px){
    #owl-team-schedule .btn{
        width: 30vw;
        font-size: 2vw;
    }
}

#return-to-owl-main{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}


/* navigation */
.navbar.navbar-light{
    border-bottom: 1px solid #000;
    margin-bottom:25px;
}

.navbar-nav > .nav-item > .nav-link {
    color: #000;
}

#nav-logo{
    width:auto;
    max-height:100px;
}

.collapse.navbar-collapse > ul{
    font-size:14pt;
    font-family: 'Russo One', sans-serif;
    color:#000;
    margin: 40px 0 0 20px;
}

.collapse.navbar-collapse li > a{
    color:#000;
}

.collapse.navbar-collapse li > a:hover{
    color:#636363;
}

#quick-fb, #quick-tw, #quick-ins{
    color:#ffffff;
    background-color:#333399;
    margin-top:-10px;
}

.nav.navbar-nav.navbar-right{
    margin-right:25px;
}

/* login */
#login-page-auth{
    margin-top:50px;
    margin: 0 auto;
    width:30vw;
    text-align:center;
}

#login-page-auth label{
    margin-top:25px;
}

#login-container img{
    display:block;
}

#login-container img{
    margin: 0 auto;
    width:100%;
}

/* write for us */
#write-for-us{
    text-align: center;
}
.info-tip-submit{
    margin: 25px 0 25px 0;
}
.info-tip-submit .btn{
    display: block;
    margin: 0 auto;
}

/* news */
.article-query-container{
    display:flex;
    justify-content: center;
}

.post-content .btn-est-outline{
    display: block;
    float: right;
    font-size: 1vw;
    width: 10vw;
}

.content-feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-header > a{
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 1.0);
}

.image-preview{
    margin: 0 auto;
}

.image-preview figure{
    width:100%;
    margin-bottom:25px;
}

.post-preview{
    max-height:100%;
    text-align: left;
}

.post-preview .content-preview{
    text-align: left;
    width:100%;
}

.article-body-preview{
    margin-top: 10px;
    white-space: pre-wrap;
    text-align: left;
    max-width: 100%;
}

/* content preview */ 
.preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    width: 30vw;
}

.article-preview {
    position: relative;
    text-decoration: none;
    flex-basis: 14vw;
    flex-grow: 1;
    flex-shrink: 0;
}

@media screen and (max-width:765px){
    .preview{
        width:90vw;
    }
}

.article-preview-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.article-preview-image:hover{
    opacity: 0.5;
}

.preview-headline{
    position:absolute;
    bottom: 0;
    padding: 15px;
    opacity: 0;
    background-color: rgb(234, 16, 16);
    background-color: rgba(234, 16, 16, 0.7);
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .9s ease-in-out, height .3s ease-in-out;;
    -moz-transition: opacity .9s ease-in-out, height .3s ease-in-out;
    -o-transition: opacity .9s ease-in-out, height .3s ease-in-out;
    transition: opacity .9s ease-in-out, height .3s ease-in-out;
}

.preview-headline:hover{
    opacity: 1;
    height:100%;
}

.article-title{
    font-size: 1.2vw;
    color: #fff;
}

/* article view */
#post-wrapper{
    border-left: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px 0 0 0;
    margin-top:25px;
}

@media screen and (max-width: 765px){
    #post-wrapper{
        border-left: none;
        border-radius: 0;
    }
    
}

#news-feed-header{
    visibility: hidden;
}

@media screen and (max-width:765px){
    #news-feed-header{
        visibility: visible;
    }
    
}
#sidebar-container{
    margin-top:25px;
}

.article-author-link{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.7);
}

.article-pub-date{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
}

.article-author-link, .article-pub-date{
    display: inline-block;
}

.article-author-label{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.7);
}

.article-author-link:hover{
    color: rgba(0, 0, 0, 0.7);
}

.article-figure-caption, .article-figure-source{
    display: inline-block;
    text-align:left;
}

.article-figure-caption{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.7);
}

.article-figure-source{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.7);
}

.article-categories-list{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
}

.post-content figure{
    margin: 50px 0 50px 0;
}

.article-figure {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

.meta-container p {
    display:inline-block;
    padding-left:10px;
}

.post-content figcaption{
    font-style: italic;
    text-align:center;
}

.article-body{
    margin:25px 50px 25px 50px;
    text-align:left;
    white-space: pre-wrap;
}

.article-body img{
    display:block;
    margin:0 auto;
    text-align:center;
}

.article-body iframe{
    display:block;
    margin:0 auto;
    text-align:middle;
}

.article-body-preview img{
    display:block;
    margin:0 auto;
    text-align:middle;
}

.article-body-preview iframe{
    display:block;
    margin:0 auto;
    text-align:middle;
}

#suggested-articles{
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    margin:20px 0 20px 0;
}

#suggested-articles .article-preview{
    max-width:20%;
    margin: 0 10px 10px 10px;
}

#suggested-articles .preview-headline{
    height:30%;
}


/* search */
.content-search{
    width: 30vw;
}

.content-search .btn{
    width: 8vw;
}

.search-header{
    width: 90vw;
    text-align:left;
    margin-bottom: 25px;
}

.search-header form{
    text-align: center;
    margin: 0 auto 25px auto;
}

.search-results{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-results article{
    display: flex;
    flex-direction: row;
}

.search-results .search-result-body{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin: 0;
}

.search-results .article-figure{
    max-width: 25vw;
}

.event-search-results{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 10vh;
}

.event-search-result-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
}

.event-search-result-container > div{
    flex-basis: 25vw;
}

.event-search-result-image img{
    width: 25vw;
}

.event-search-result-meta-info{
    text-align: center;
}

.event-search-result-btn{
    display: flex;
    justify-content: flex-end;
}





/* account */
.account-info p{
    text-align:left;
}

.account-settings-btn{
    margin:30px;
}

.account-nav{
    
    height:80vh;
    border-right:2px solid red;
    border-radius: 25px;
}

.account-nav ul{
    list-style: none;
}

.account-nav a{
    color:#000;
}

.account-nav li{
    margin-bottom:10px;
}

/* meta settings */
.meta-settings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}
.meta-selection-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 25vw;
}

.meta-selection-title{
    text-align: center;
    background-color: #333399;
    color: #fff;
    font-size: 1.5vw;
    padding: 5px;
    border-radius: 25px 0 25px 0;
    width: 100%;
}

.sub-meta-check-row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-est-sub-meta{
    color: #fff;
    background-color: red;
    border: none;
}

.btn-est-sub-meta input{
    margin-right: 15px;
}

/* account security & general */
.account-email-settings{
    margin:25px auto;
    width:50vw;
}

.account-email-settings input{
    margin-right:10px;
}

#newsletter-true{
    width:20vw;
    float:left;
}

#newsletter-false{
    width:20vw;
    float:right;
}

#stream-true{
    width:20vw;
    float:left;
}

#stream-false{
    width:20vw;
    float:right;
}

#security-settings{
    margin-top:50px;
}

/* account info */
.user-account-edit{
    width:50vw;
    margin:0 auto;
}

.account-form-btn{
    border-radius: 5px;
    display:block;
    margin:25px auto;
}

 /* account reset password */
.reset-password{
    width:50vw;
    margin: 0 auto;
}

 /* account delete */
.delete-account{
    margin: 0 auto;
    width:50vw;
}
 
 /* deactivate account */
 .deactivate-account{
     margin: 0 auto;
     width:50vw;
}
 
 #account-deletion-link{
     display:block;
     text-align:right;
 }

/* meta - complete */
#meta-welcome{
    margin-bottom:50px;
}

.user-meta-sub-header{
    margin-bottom:20px;
    text-align:left;
    border-bottom: 3px solid red;
}

.user-meta-sub-header{
    display: inline-block;
}

.meta-section{
    margin-bottom: 50px;
}

#meta-section{
    margin-top:10px;
}

#meta-news-preview{
    justify-content: center;
    width: 100%;
}

#meta-news-preview .article-preview{
    margin: 5px;
    flex-basis: 25vw;
}

#meta-news-preview .article-preview:nth-child(4){
    flex-basis:40vw;
}

.meta-section .btn-est-outline{
    display: block;
    font-size: 1vw;
    margin-left: auto;
}


/* events */
.event-list{
    margin: 0 auto;
    width:80vw;
}

.event-game-thumbnail{
    height:50px;
    width:auto;
}

#event-contact{
    text-align:center;
}

#event-contact a{
    color: #000;
    text-decoration: underline;
}

#event-contact a:hover{
    color: #000;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: underline;
}

/* event view */ 
.event-figure{
    max-width:100%;
    max-height:400px;
    margin:0 auto;
    display:block;
}

.event-meta-container, .event-header{
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.event-meta-container{
    padding-top:25px;
}

.event-meta-container h3, p{
    display:block;
    text-align:center;
}

.event-meta-container h3{
    text-decoration: underline;
}

.event-header figure{
    margin-bottom:25px;
}

#event-description{
    margin:25px auto;
}

#related-events{
    padding-top:50px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

#related-articles .header-image{
    width:90%;
}

#related-articles{
    border-bottom:3px solid red;
    width:50%;
    margin:0 auto 20px auto;
}

/* stream */
.stream-view{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* register */
#registration-form-container{
    border-right:2px solid red;
    border-left:2px solid red;
    border-radius:25px;
    margin:0 auto 50px auto;
}

.new-user-entry{
    margin: 25px auto;
    width:40vw;
}

.new-user-entry label{
    margin-top:5px;
}

.new-user-entry #country{
    margin-top:15px;
}

.new-user-entry label, input, select{
    display:inline-block;
    vertical-align: baseline;
}

.game-select{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}

.game-select label{
    width:33%;
    height:auto;
    display:inline-block;
}

.meta-select-thumbnail{
    width:100%;
    height:auto;
    margin:10px 0 10px 0;
    opacity: 1;
}

.game-select label > input{
    visibility:hidden;
    position:absolute;
}

.game-select label > input + img{
    cursor:pointer;
    background-color:transparent;
    border-radius: transparent;
    border: transparent;
}

.game-select label > input:checked + img{
    background-color:rgba(114, 114, 192, 1);
    border-radius:10px;
    border: 2px solid black;
}

.registration-guide{
        display:block;
        max-width:20vw;
        height:auto;
}

@media screen and (max-device-width: 765px){
    .registration-guide{
        display: none;
    }
    
    #step-2-text{
        display:none;
    }
}

#step-2{
    margin-top:400px;
}

.section-divider{
    border-top:2px solid rgb(0, 0, 0);
    border-top:2px solid rgba(0, 0, 0, 0.5);
}


/* info - complete */
#info-content img{
    width:60%;
}
#info-content p{
    text-align:left;
}

#info-content a{
    color:#000;
    text-decoration: underline;
}

#info-content a:hover{
    color:rgba(0, 0, 0, 0.7);
    text-decoration: underline;
}

#info-ad-space{
    text-align:center;
    width:100%;
}

#account-steps{
    display:block;
    margin: 0 auto;
    width: auto;
    max-height: 50%;
}

/* privacy policy */
#privacy-policy-content * {
    text-align:left;
}

/* terms of service */
#terms-of-use-content * {
    text-align:left;
}

/* footer */
footer{
    margin: 0 auto;
    padding-top: 15px;
    border-top: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    font-weight:normal;
    font-size:10pt;
}

footer a{
    color: #000;
}

footer p{
    max-width:100%;
}

#footer-logo{
    display: flex;
    justify-content: center;
}

#footer-logo img{
    max-height:100px;
    width:auto;
}

.footer-nav{
    height:75px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    flex-basis: 20px;
}

.social-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    
}

@media screen and (max-width: 765px){
    .social-btn{
        flex-direction: column;
        align-items: center;
    }
    
    footer .btn{
        width:100vw;
    }
}

footer .btn{
    margin:5px;
    flex-grow: 1;
    background-color:#333399;
    color:#fff;
}

#copyright{
    display: flex;
    justify-content: center;
}