/*====================
    PRIMARY STYLES
=====================*/
body{
    background-image: url("estera_look_right_opaque.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    font-family: 'Poppins', sans-serif;
    font-size: 14pt;
}

html{
    font-size: 14pt;
}

h1, h2{
    font-family: 'Russo One', sans-serif;
    text-align: center;
}

.btn-est{
    background-color: #333399;
    font-size: 1vw;
    width:30vw;
}

.btn-est-danger{
    font-size: 1vw;
}

.btn-est-outline{
    border-radius: 20px;
    border-color: #333399;
    color: #333399;
    margin: 20px;
    width: 20vw;
    font-size: 1.5vw;
}

.btn-est-outline:hover{
    background-color: #333399;
    color: #fff;
}

.acct-btn{
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    color: #333399;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1vw;
}

.acct-btn:hover{
    background-color: #333399;
    color: #fff;
}

/*========================
        NAVIGATION
==========================*/
.navigation-container{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px auto;
    width: 65vw;
}

.navigation-logo > img{
    height: 100px;
    width: auto;
}

.navigation{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    list-style: none;
}

.navigation-link{
    font-family: 'Russo One', sans-serif;
    font-size: 16pt;
    color: #000;
}

.navigation-link:hover{
    color: #333399;
    text-decoration: none;
}

/*==========================
    ARTICLE PREVIEWS
===========================*/
.article-preview {
    position: relative;
    height: 20vh;
    width: 100%;
    margin: 5px;
}

.article-preview-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.preview-headline{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: rgb(234, 16, 16);
    background-color: rgba(234, 16, 16, 0.7);
    opacity: 0;
    -webkit-transition: opacity .9s ease-in-out, height .3s ease-in-out;;
    -moz-transition: opacity .9s ease-in-out, height .3s ease-in-out;
    -o-transition: opacity .9s ease-in-out, height .3s ease-in-out;
    transition: opacity .9s ease-in-out, height .3s ease-in-out;
}

.preview-headline:hover{
    opacity: 1;
}

.article-title{
    font-size: 1.2vw;
    color: #fff;
}


.main-content-container{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 65vw;
}

.section-indicator{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px auto 15px auto;
    width: 100%;
    cursor: default;
}

.section-image{
    height: 100px;
    width: auto;
}

.section-indicator-title{
    font-family: 'Ceviche One', cursive;
    color: #333399;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px, 
    rgb(255, 255, 255) 0.540302px 0.841471px 0px, 
    rgb(255, 255, 255) -0.416147px 0.909297px 0px, 
    rgb(255, 255, 255) -0.989992px 0.14112px 0px, 
    rgb(255, 255, 255) -0.653644px -0.756802px 0px, 
    rgb(255, 255, 255) 0.283662px -0.958924px 0px, 
    rgb(255, 255, 255) 0.96017px -0.279415px 0px;
}

.subsection-indicator{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    font-family: 'Russo One', sans-serif;
}

.creators-panel{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.creator-container{
    max-height: auto;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.75);
}

.creator-banner-image{
    border-radius: 5px;
    max-width: 100%;
}

.section-main-body > div{
    margin: 25px 0 0 0;
}

#recent-content-main{
    width: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article-preview {
    position: relative;
    height: 30vh;
    width: 100%;
    margin: 5px;
}

.article-preview-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.preview-headline{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: rgb(234, 16, 16);
    background-color: rgba(234, 16, 16, 0.7);
    opacity: 0;
    -webkit-transition: opacity .9s ease-in-out, height .3s ease-in-out;;
    -moz-transition: opacity .9s ease-in-out, height .3s ease-in-out;
    -o-transition: opacity .9s ease-in-out, height .3s ease-in-out;
    transition: opacity .9s ease-in-out, height .3s ease-in-out;
}

.article-title{
    font-size: 1.2vw;
    color: #fff;
}

.main-news-container{
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-news-container .preview-headline{
    opacity: 1;
    padding: 0;
    background-color: transparent;
}

.main-news-container .article-title{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

.main-news-container .article-preview{
    flex-basis: 48%;
}

#recent-videos-container{
    width: 100%;
}

.main-videos-container{
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#videos-most-recent iframe{
    margin: 10px auto 10px auto;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

#segment-logos{
    width: 65vw;
    margin-top: 25px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #000;
}

.segment-logo{
    align-self: center;
    width: 30%;
    height: auto;
}

#estera-patreon{
    width: 100%;
}

#social-buttons{
    width: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content: space-around;
}


/*==============================
        CREATOR PROFILE
================================*/
.creator-profile-header{
    width: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-wrap: wrap;
}

.creator-profile-image{
    max-width: 100%;
    align-self: center;
}

.creator-social-buttons{
    width: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content: space-around;
}

.creator-social-link{
    width: 40%;
    height: auto;
    align-self: center;
}

.creator-social-link img{
    width: 100%;
    height: auto;
    align-self: center;
}

.creator-content{
    width: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.creator-content-subsection{
    width: 100%;
    flex-grow: 2;
}

.creator-articles{
    width: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.creator-articles #news-most-recent > .article-preview{
    flex-basis: 100%;
    max-width: 100%;
    height: 281px;
}

.creator-videos{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-around;
    align-content: center;
}

#creator-videos-title{
    margin-bottom: 0px;
}

.creator-videos iframe{
    margin: 20px auto 20px auto;
}

/*=========================
        CREATORS LIST
===========================*/
.creator-info-container{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.creator-bio-container{
    margin: 25px auto;
}

.creator-info-image{
    float: left;
    width: 25%;
    height: auto;
    margin: 0 15px 0 0;
}

.creator-bio-header{
    font-family: 'Russo One', sans-serif;
    text-align: center;
}

/*=========================
        ARTICLE VIEW
==========================*/
.article-header{
    text-align: left;
    font-size: 130%;
}

.article-header > a{
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 1.0);
}

.article-author-link{
    font-size: 11pt;
    color: #333399;
}

.article-pub-date{
    font-size: 11pt;
    color: #6E6E84;
    text-align: left;
}

.article-author-link, .article-pub-date{
    display: inline-block;
}

.article-author-link:hover{
    color: #333399;
}

#article-view{
    margin-top: 25px;
    flex-direction: row;
}

.article-container{
    width: 58%;
    margin: 0 auto;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: column;
}

.article-view-title{
    text-align: left;
    font-size: 1.3vw;
}

.article-meta-container{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

.article-meta-container p{
    color: #6E6E84;
    padding: 0 10px 0 0;
    font-size: 11pt;
}

.article-meta-container a{
    color: #333399;
}

.post-content{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-figure {
    width: 100%;
    height: auto;
}

.article-figure-caption{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content: flex-end;
    color: #6E6E84;
    font-size: 11pt;
}

.article-body img{
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
}

.article-body{
    text-align: left;
    white-space: pre-wrap;
}

.article-body > .article-figure {
    width: 100%;
    height: auto;
}

.article-body > .article-figure-caption{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content: flex-end;
    color: #6E6E84;
    font-size: 11pt;
}

.article-source{
    width: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content: flex-start;
    color: #6E6E84;
    margin-top: 25px;
}

.article-source a{
    color: #333399;
}

.article-body iframe{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 640px;
    height: 360px;
}

#article-view-btn{
    width: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.article-sidebar{
    padding-left: 25px;
    flex-basis: 30%;
    border-left: 1px solid #000;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.article-sidebar-logo{
    width: 100%;
    height: auto;
}

.twitter-timeline{
    background: transparent;
}

/*=========================
        CONTACT US
===========================*/
#main-contact-container{
    flex-direction: row;
}

.contact-form-section{
    width: 48%;
}

#contact-form-header{
    flex-direction: column;
    align-items: flex-start;
}

#contact-form{
    width: 100%;
}

#contact-actions{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

#contact-actions .btn{
    width: 20vw;
    font-size: 1.5vw;
}

#contact-page-social{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    text-align: center;
}

#contact-page-social .btn{
    background-color: #333399;
    color: #fff;
}

#estera-contact{
    margin: 0 auto;
}

/*===================================
    PRIVACY POLICY/TERMS&CONDITIONS
=====================================*/
.policies-flex{
    width: 65vw;
    margin: 0 auto;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.policies-flex p{
    text-align: left;
}

.policies-flex h1{
    text-align: left;
}

/*====================
        FOOTER
======================*/
footer{
    padding-top: 15px;
    font-weight: normal;
    font-size: 10pt;
}

footer a{
    color: #000;
}

.footer-container{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    width: 65vw;
    border-top: 1px solid #000;
}

.footer-section{
    flex-basis: 33%;
    padding: 15px;
}

.footer-section > img{
    height: 100px;
    max-width: 100%;
}

.footer-section-title{
    font-family: 'Poppins', sans-serif;
    font-size: 14pt;
}

.footer-navigation{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-direction: column;
    list-style: none;
}

twitter-timeline{
        background: transparent;
        margin-left: 15px;
    }

@media only screen 
and (min-width: 1024px) 
and (max-width: 1440px){
    .navigation-container{
        width: 90vw;
    }
    
    .main-content-container{
        width: 85vw;
    }
    
    .section-subsection{
        width: 85vw;
    }
    
    .preview-headline .article-title{
        font-size: 1.8vw;
    }
    
    .recent-video{
        width: 400px;
        height: 225px;
    }
    
    #segment-logos{
        width: 100%;
    }
    
    .creator-profile-header{
        margin-top: 25px;
    }
    
    .article-preview{
        height: 40vh;
    }
    
    .footer-container{
        width: 85vw;
    }
}

/* Portrait Mode Phones */
@media only screen
and (max-width: 414px){
    .navigation-container{
        margin: 0 auto;
        width: 98vw;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        flex-wrap: wrap;
    }
    
    .navigation-logo{
        width: 100%;
        margin-bottom: 15px;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        justify-content: center;
    }
    
    .navigation{
        width: 90vw;
        justify-content: space-between;
        align-items: center;
    }
    
    .navigation-link{
        font-size: 12pt;
    }
    
    #home-nav-link{
        display: none;
    }
    
    .main-content-container{
        margin: 0 auto;
    }
    .creators-panel{
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: -15px;
    }
    
    .creator-container{
        flex-basis: 45%;
        margin: 15px auto 15px auto;
    }
    
    .navigation-container{
        width: 50vw;
    }
    
    .main-content-container{
        width: 95vw;
    }
    
    .section-subsection{
        width: 95vw;
    }
    
    .main-news-container .article-preview{
        flex-basis: 100%;
    }
    
    .preview-headline .article-title{
        font-size: 5vw;
    }
    
    .recent-video{
        width: 300px;
        height: 169px;
    }
    
    #segment-logos{
        width: 100%;
    }
    
    .creator-profile-header{
        margin-top: 25px;
    }
    
    .article-preview{
        height: 40vh;
    }
    
    #article-view{
        flex-direction: column;
    }
    
    .article-container{
        width: 90vw;
    }
    
    .article-view-title{
        font-size: 4.5vw;
    }
    
    #article-view-btn .acct-btn{
        font-size: 5vw;
        margin-bottom: 10px;
    }
    
    .article-sidebar{
        width: 100%;
        border-left: none;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .segment-logo-display{
        flex-basis: 50%;
    }
    
    #contact-form-container{
        width: 100%;
    }
    
    #contact-actions .btn{
        font-size: 4vw;
    }
    
    #contact-sidebar{
        display: none;
    }
    
    #get-involved-title{
        font-size: 7.5vw;
    }
    
     #social-buttons a{
        width: 50%;
    }
    
    #social-buttons img{
        width: 100%;
    }
    
    #creators-list-title{
        font-size: 7.5vw;
    }
    
    .creator-bio-container{
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .creator-info-image{
        width: 50%;
        height: auto;
        margin-bottom: 15px;
    }
    
    .footer-container{
        width: 90vw;
        flex-direction: column;
        align-items: center;
    }
    
    #footer-logo{
        flex-basis: 100%;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        justify-content: center;
    }
}

@media only screen
and (min-width: 415px)
and (max-width: 1023px){
    .navigation-container{
        width: 90vw;
        flex-direction: column;
        margin-bottom: -25px;
    }
    
    .navigation-logo{
        width: 100%;
        margin-bottom: 25px;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        justify-content: center;
    }
    
    .main-content-container{
        width: 95vw;
    }
    
    .section-subsection{
        width: 95vw;
    }
    
    .preview-headline .article-title{
        font-size: 2.3vw;
    }
    
    .recent-video{
        width: 280px;
        height: 158px;
    }
    
    #segment-logos{
        width: 100%;
    }
    
    .creator-profile-header{
        margin-top: 25px;
    }
    
    .article-preview{
        height: 40vh;
    }
    
    #social-buttons a{
        width: 50%;
    }
    
    #social-buttons img{
        width: 100%;
    }
    
    #article-view{
        flex-direction: column;
    }
    
    .article-container{
        width: 90vw;
    }
    
    .article-view-title{
        font-size: 2.5vw;
    }
    
    #article-view-btn .acct-btn{
        font-size: 3vw;
    }
    
    .article-sidebar{
        width: 100%;
        border-left: none;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .segment-logo-display{
        flex-basis: 33%;
    }
    
    #main-contact-container{
        margin-top: 25px;
    }
    
    #contact-form label{
        margin-top: 15px;
    }
    
    #contact-actions .btn{
        font-size: 3vw;
    }
    
    #estera-contact{
        width: 100%;
        height: auto;
    }
    
    .footer-container{
        width: 95vw;
    }
    
    .footer-section > img{
        width: 100%;
        height: auto;
    }
}