body, html {
    font-family: 'Poppins', sans-serif;
    font-size: 14pt;
}

#primary-wrapper{
    display:block;
    width:95vw;
}

h1{
    font-family: 'Russo One', sans-serif;
    text-align: center;
}

@media screen and (max-width: 765px){
    h1{
        font-size: 5vw;
    }
}

h2{
    font-family: 'Russo One', sans-serif;
    text-align:center;
}

hr{
    display:block;
    border-color:rgba(0, 0, 0, 0.5);
    width:60%;
}

.content-divider-sm{
    border-bottom:3px solid red;
    width:50%;
    margin:0 auto 20px auto;
}

.content-divider-md{
    border-bottom:3px solid red;
    width:25%;
    margin:0 auto 20px auto;
}

.content-divider-lg{
    border-bottom:3px solid red;
    width:20%;
    margin:0 auto 20px auto;
}

.no-content-msg{
    text-align:center;
}

.clear-div{
    clear:both;
    padding-top: 4px;
}

.btn-est{
    background-color: #333399;
    font-size: 1vw;
    width:30vw;
}

.btn-est-danger{
    font-size: 1vw;
}

.btn-est-outline{
    border-radius: 20px;
    border-color: #333399;
    color: #333399;
    margin: 20px;
    width: 20vw;
    font-size: 1.5vw;
}

.btn-est-outline:hover{
    background-color: #333399;
    color: #fff;
}

.source-link{
    text-align:left;
}

.source-link:hover{
    text-decoration: underline;
}

#page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-header h1{
    background-color: #333399;
    color: #fff;
    padding: 10px;
    width: 30vw;
    font-size: 2vw;
    border-radius: 25px 0 25px 0;
}

@media screen and (max-width: 765px){
    #page-header h1{
        font-size: 5vw;
    }
}

/* overwatch league */
.owl-container{
    margin: -25px 0 0 0;
    display: flex;
    flex-direction: column;
    background: #ffffff; /* Old browsers */
    background: -webkit-linear-gradient(#ffffff 0%, #cae2f9 71%, #f9e2b8 99%);
    background: -moz-linear-gradient(#ffffff 0%, #cae2f9 71%, #f9e2b8 99%);
    background: -o-linear-gradient(#ffffff 0%, #cae2f9 71%, #f9e2b8 99%);
    background: linear-gradient(#ffffff 0%, #cae2f9 71%, #f9e2b8 99%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9e2b8',GradientType=0 );
}

.owl-header-row{
    display: flex;
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    margin-bottom: 50px;
    justify-content: space-around;
    align-items: center;
}

#pacific-division-title, #atlantic-division-title{
    flex-basis: 25vw;
}

@media screen and (max-width: 760px){
    #pacific-division-title, #atlantic-division-title{
    display: none;
    }
}

#owl-est-banner{
    flex-basis: 40vw;
    max-width: 80%;
}

.owl-sections{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 25px;
}

.owl-left-column, .owl-right-column{
    flex-basis: 25vw;
}

.owl-center-column{
    flex-basis: 40vw;
    padding: 10px 25px 10px 25px;
    border-left: 5px solid #F99E1A;
    border-right: 5px solid #F99E1A;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.owl-left-column, .owl-right-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.owl-team-container{
    width: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.owl-team-logo{
    width: 100%;
    opacity: 1;
}

.direct-team-link{
    border: 3px solid rgba(252, 205, 136, 1);
    border-radius: 25px 0 25px 0;
    padding: 8px;
    color: #000;
    font-size: 1vw;
    background-color: #F99E1A;
    display: none;
    text-align: center;
}

.direct-team-link:hover{
    text-decoration: none;
    color: #000;
}

.owl-content-preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw;
}

.owl-article-preview {
    position: relative;
    text-decoration: none;
    flex-basis: 14vw;
    flex-grow: 1;
    flex-shrink: 0;
}

.owl-article-preview-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.owl-article-preview-image:hover{
    opacity: 0.5;
}

.owl-preview-headline{
    position:absolute;
    bottom: 0;
    padding: 15px;
    opacity: 0;
    background-color: rgb(252, 218, 151);
    background-color: rgba(252, 218, 151, 0.7);
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .9s ease-in-out, height .3s ease-in-out;;
    -moz-transition: opacity .9s ease-in-out, height .3s ease-in-out;
    -o-transition: opacity .9s ease-in-out, height .3s ease-in-out;
    transition: opacity .9s ease-in-out, height .3s ease-in-out;
}

.owl-preview-headline:hover{
    opacity: 1;
    height:100%;
}

.owl-article-title{
    font-size: 1.2vw;
    color: #000;
}



.owl-footer-row{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    opacity:0;
    
}

.table-owl-schedule{
    border-collapse: collapse;
    text-align: center;
    border-top: 5px solid #F99E1A;
    border-radius: 0 0 25px 0;
}

.table-owl-schedule th{
    background-color: rgba(23, 75, 151, 1);
    color: #fff;
    border: none;
}

.table-owl-schedule th:last-child{
    border-radius: 0 0 25px 0;
    border: none;
}

.table-owl-schedule th:nth-child(2){
    border: none;
}

.table-owl-schedule th:nth-child(1){
    border: none;
}

.table-owl-schedule td{
    border: none;
}

.btn-owl{
    width: 15vw;
    font-size: 1vw;
    border-radius: 25px 0 25px 0;
    border: 3px solid rgba(252, 205, 136, 1);
    color: #fff;
    background: -moz-linear-gradient(45deg, rgba(23,75,151,0.66) 0%, rgba(23,75,151,1) 30%, rgba(23,75,151,1) 70%, rgba(23,75,151,0.66) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(23,75,151,0.66) 0%,rgba(23,75,151,1) 30%,rgba(23,75,151,1) 70%,rgba(23,75,151,0.66) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(23,75,151,0.66) 0%,rgba(23,75,151,1) 30%,rgba(23,75,151,1) 70%,rgba(23,75,151,0.66) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8174b97', endColorstr='#a8174b97',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-transition: background-color .7s ease-in-out;
    -moz-transition: background-color .7s ease-in-out;
    -o-transition: background-color .7s ease-in-out;
    transition: background-color .7s ease-in-out;
}

.btn-owl:hover{
    border: 3px solid rgba(252, 205, 136, 1);
}

@media screen and (max-width: 760px){
    #owl-overall-schedule .btn{
        width: 30vw;
        font-size: 2vw;
    }
}


#more-owl-news{
    margin-top: 25px;
    width: 30vw;
}

.owl-video-content{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.owl-video-content iframe{
    width: 854px;
    height: 480px;
}

@media screen and (max-width: 900px){
    .owl-video-content iframe{
        width: 427px;
        height: 240px;
    }
}

/* team view */
#team-header-row{
    padding-left: 0;
    padding-right: 0;
    justify-content: space-around;
    align-items: flex-start;
}

.team-logo-name{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 760px){
    #team-header-row{
        flex-direction: column;
        align-items: center;
    }
}

#team-logo{
    width: 20vw;
}

.team-info{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 20vw;
}

.team-info p{
    text-align: left;
    flex-basis: 15vw;
}

.team-info a{
    width: 100%;
}

.team-info span{
    margin-right: 15px;
    font-weight: bold;
}

@media screen and (max-width: 760px){
    .team-info{
        width: 80vw;
    }
    
    .team-info p{
        flex-basis: 100%;
    }
    
    .team-info a{
        width: 100%;
    }
    
    .team-info p:last-child{
        margin:0  auto;
    }
}

#owl-banner-team-view{
    flex-basis: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.banner-team-view{
    display: block;
    margin: 0 auto;
}

#team-video{
    width: 720px;
    height: 405px;
}

@media screen and (max-width: 900px){
    #team-video{
        width: 427px;
        height: 240px;
    }
}

.team-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-news{
    padding: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.owl-team-article{
    flex-basis: 17vw;
    margin: 5px;
}

.owl-team-article:last-child{
    flex-basis: 20vw;
}

#more-team-news{
    flex-basis: 50vw;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 760px){
    #more-team-news .btn{
        width: 80vw;
        font-size: 2vw;
    }
}

.team-roster{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.team-member{
    flex-basis: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.member-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

.member-info p{
    text-align: left;
}

.member-info h4{
    text-align: center;
}

.member-info span{
    margin-right: 10px;
}

.member-image{
    max-width: 10vw;
    opacity: 1;
}

#profile-pic{
    width: 100%;
    border: 4px solid #F99E1A;
    border-radius: 50%;
    transition: transform 1s ease-in-out;
}

@media screen and (max-width: 760px){
    .team-member{
        flex-basis: 50vw;
    }
    
    .member-image{
        max-width: 20vw;
    }
}

#member-info-top{
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items: flex-start;
}

#member-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#member-bio{
    margin-left: 10px;
}


#owl-team-schedule{
    flex-grow: 10;
    flex-basis: 80vw;
    opacity:1;
}

@media screen and (max-width: 760px){
    #owl-team-schedule .btn{
        width: 30vw;
        font-size: 2vw;
    }
}

#return-to-owl-main{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}


/* navigation */
.navbar.navbar-light{
    border-bottom: 1px solid #000;
    margin-bottom:25px;
}

.navbar-nav > .nav-item > .nav-link {
    color: #000;
}

#nav-logo{
    width:auto;
    max-height:100px;
}

.collapse.navbar-collapse > ul{
    font-size:14pt;
    font-family: 'Russo One', sans-serif;
    color:#000;
    margin: 40px 0 0 20px;
}

.collapse.navbar-collapse li > a{
    color:#000;
}

.collapse.navbar-collapse li > a:hover{
    color:#636363;
}

#quick-fb, #quick-tw, #quick-ins{
    color:#ffffff;
    background-color:#333399;
    margin-top:-10px;
}

.nav.navbar-nav.navbar-right{
    margin-right:25px;
}

/* write for us */
#write-for-us{
    text-align: center;
}
.info-tip-submit{
    margin: 25px 0 25px 0;
}
.info-tip-submit .btn{
    display: block;
    margin: 0 auto;
}

#content-needed{
    list-style: none;
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-radius: 25px;
}

#compensation{
    color: green;
}

/* news */
.article-query-container{
    display:flex;
    justify-content: center;
}

.post-content .btn-est-outline{
    display: block;
    float: right;
    font-size: 1vw;
    width: 10vw;
}

@media screen and (max-width: 765px){
    .post-content .btn-est-outline{
        font-size: 2vw;
        width: 40vw;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

.content-feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-header > a{
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 1.0);
}

.image-preview{
    margin: 0 auto;
}

.image-preview figure{
    width:100%;
    margin-bottom:25px;
}

.post-preview{
    max-height:100%;
    text-align: left;
}

.post-preview .content-preview{
    text-align: left;
    width:100%;
}

.article-body-preview{
    margin-top: 10px;
    white-space: pre-wrap;
    text-align: left;
    max-width: 100%;
}

/* content preview */ 
.preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    width: 30vw;
}

.article-preview {
    position: relative;
    text-decoration: none;
    flex-basis: 14vw;
    flex-grow: 1;
    flex-shrink: 0;
}

@media screen and (max-width:765px){
    #sidebar-container{
        display: none;
    }
}

.article-preview-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.article-preview-image:hover{
    opacity: 0.5;
}

.preview-headline{
    position:absolute;
    bottom: 0;
    padding: 15px;
    opacity: 0;
    background-color: rgb(234, 16, 16);
    background-color: rgba(234, 16, 16, 0.7);
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .9s ease-in-out, height .3s ease-in-out;;
    -moz-transition: opacity .9s ease-in-out, height .3s ease-in-out;
    -o-transition: opacity .9s ease-in-out, height .3s ease-in-out;
    transition: opacity .9s ease-in-out, height .3s ease-in-out;
}

.preview-headline:hover{
    opacity: 1;
    height:100%;
}

.article-title{
    font-size: 1.2vw;
    color: #fff;
}

/* article view */
#post-wrapper{
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px 0 0 0;
    margin-top:25px;
}

@media screen and (max-width: 765px){
    #post-wrapper{
        border-left: none;
        border-radius: 0;
    }
    
}

#news-feed-header{
    visibility: hidden;
}

@media screen and (max-width:765px){
    #news-feed-header{
        visibility: visible;
    }
    
}
#sidebar-container{
    margin-top:25px;
}

.article-author-link{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.7);
}

.article-pub-date{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
}

.article-author-link, .article-pub-date{
    display: inline-block;
}

.article-author-label{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.7);
}

.article-author-link:hover{
    color: rgba(0, 0, 0, 0.7);
}

.article-figure-caption, .article-figure-source{
    display: inline-block;
    text-align:left;
}

.article-figure-caption{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.7);
}

.article-figure-source{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.7);
}

.article-categories-list{
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
}

.post-content figure{
    margin: 50px 0 50px 0;
}

.article-figure {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

.meta-container p {
    display:inline-block;
    padding-left:10px;
}

.post-content figcaption{
    font-style: italic;
    text-align:center;
}

@media screen and (max-width: 765px){
    .post-content figure{
        margin: 0;
    }
}

.article-body{
    margin:25px 50px 25px 50px;
    text-align: left;
    white-space: pre-wrap;
}

@media screen and (max-width: 765px){
    .article-body{
        margin: 25px;
    }
}

@media screen and (max-width: 765px){
    .meta-container .article-pub-date,
    .meta-container .article-categories-list{
        display: none;
    }
    
    .post-content .article-body{
        width: 80vw;
    }
}

.article-body img{
    display:block;
    margin:0 auto;
    max-width: 80%;
    height: auto;
    text-align:center;
}

.article-body iframe{
    display:block;
    margin:0 auto;
    text-align:middle;
    width: 640px;
    height: 360px;
}

@media screen and (max-width: 765px){
    .article-body iframe{
        width: 320px;
        height: 230px;
    }
}

.article-body-preview img{
    display:block;
    margin:0 auto;
    text-align:middle;
}

.article-body-preview iframe{
    display:block;
    margin:0 auto;
    text-align:middle;
}

#suggested-articles{
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    margin:20px 0 20px 0;
}

#suggested-articles .article-preview{
    max-width:20%;
    margin: 0 10px 10px 10px;
}

#suggested-articles .preview-headline{
    height:30%;
}


/* search */
.content-search{
    width: 30vw;
}

.content-search .btn{
    width: 8vw;
}

.search-header{
    width: 90vw;
    text-align:left;
    margin-bottom: 25px;
}

.search-header form{
    text-align: center;
    margin: 0 auto 25px auto;
}

.search-results{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-results article{
    display: flex;
    flex-direction: row;
}

.search-results .search-result-body{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin: 0;
}

.search-results .article-figure{
    max-width: 25vw;
}

.event-search-results{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 10vh;
}

.event-search-result-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
}

.event-search-result-container > div{
    flex-basis: 25vw;
}

.event-search-result-image img{
    width: 25vw;
}

.event-search-result-meta-info{
    text-align: center;
}

.event-search-result-btn{
    display: flex;
    justify-content: flex-end;
}

/* meta - complete */
#meta-welcome{
    margin-bottom:50px;
}

.user-meta-sub-header{
    margin-bottom:20px;
    text-align:left;
    border-bottom: 3px solid red;
}

.user-meta-sub-header{
    display: inline-block;
}

.meta-section{
    margin-bottom: 50px;
}

#meta-section{
    margin-top:10px;
}

#meta-news-preview{
    justify-content: center;
    width: 100%;
}

#meta-news-preview .article-preview{
    margin: 5px;
    flex-basis: 25vw;
}

#meta-news-preview .article-preview:nth-child(4){
    flex-basis:40vw;
}

.meta-section .btn-est-outline{
    display: block;
    font-size: 1vw;
    margin-left: auto;
}




/* events */
.event-list{
    margin: 0 auto;
    width:80vw;
}

.event-game-thumbnail{
    height:50px;
    width:auto;
}

#event-contact{
    text-align:center;
}

#event-contact a{
    color: #000;
    text-decoration: underline;
}

#event-contact a:hover{
    color: #000;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: underline;
}

/* event view */ 
.event-figure{
    max-width:100%;
    max-height:400px;
    margin:0 auto;
    display:block;
}

.event-meta-container, .event-header{
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.event-meta-container{
    padding-top:25px;
}

.event-meta-container h3, p{
    display:block;
    text-align:center;
}

.event-meta-container h3{
    text-decoration: underline;
}

.event-header figure{
    margin-bottom:25px;
}

#event-description{
    margin:25px auto;
}

#related-events{
    padding-top:50px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

#related-articles .header-image{
    width:90%;
}

#related-articles{
    border-bottom:3px solid red;
    width:50%;
    margin:0 auto 20px auto;
}

/* privacy policy */
#privacy-policy-content * {
    text-align:left;
}

/* terms of service */
#terms-of-use-content * {
    text-align:left;
}




/*=====================
    NEW CSS REFACTOR
======================*/
/* Login Page */
#login-page-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#login-credentials{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-credentials label{
    font-weight: bold;
    margin-top: 15px;
}

.login-actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login-actions .btn{
    width: 100%;
}

.login-actions a{
    margin: 10px;
    color: #333399;
}

/* Site Info/FAQ */
#site-info-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.content-flex{
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mobile-advert-responsive{
        display: none;
    }

.advert-sidebar-flex{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.section-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section-header p{
    color: #6E6E84;
}

.site-info-section{
    margin-bottom: 25px;
}

.site-info-section a{
    color: #333399;
}

.site-info-section p{
    text-align: left;
}

#site-info-mobile-banner-top{
    display: none;
}

/* Contact Page */
#contact-container{
    width: 60vw;
    margin: 0 auto 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#contact-flex{
    width: 30vw;
}

#contact-form{
    width: 100%;
}

#contact-actions{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

#contact-actions .btn{
    width: 20vw;
    font-size: 1.5vw;
}

#contact-page-sidebar{
    margin-top: 25px;
    flex-basis: 80%;
    justify-content: flex-start;
    height: 90vh;
}

#contact-page-info{
    width: 100%;
    padding-top: 25px;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
}

#contact-page-info p{
    text-align: left;
}

#contact-page-social{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    text-align: center;
}

/* Account Registration */
#registration-wrapper{
    display: flex;
    justify-content: center;
}
.registration{
    width: 55vw;
    margin: 0 auto 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.registration-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 25px 0 0;
}

#registration-header{
    border-bottom: 1px solid #6E6E84;
}

.registration p{
    color: #6E6E84;
    text-align: left;
}

.registration a{
    color: #333399;
}

.registration h1{
    text-align: left;
}

#registration-form{
    width: 100%;
}

#user-acct-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #6E6E84;
}

.registration-form-section{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

#registration-meta{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #6E6E84;
}

.registration-meta-game-label > img{
    padding: 10px;
}

.registration-meta-game-logo{
    max-width: 150px;
}

#registration-actions{
    flex-direction: row;
    justify-content: center;
}

#registration-actions .btn{
    width: 30vw;
    font-size: 1.5vw;
}

/* User Account View */
.acct-update-form label{
    font-weight: bold;
    margin-top: 15px;
}

.account-settings{
    min-height: 80vh;
    min-width: 80vw;
    display: flex;
    justify-content: center;
}

.account-settings > div{
    margin: 30px;
}

.acct-settings-col{
    border-left: 1px solid #6E6E84;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}

.acct-settings-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.acct-settings-header p{
    color: #6E6E84;
}

.acct-nav{
    border-left: none;
    flex-shrink: 0;
    align-items: center;
}

.acct-nav-header{
    width: 100%;
    font-family: 'Russo One', sans-serif;
    color: #6E6E84;
}

#acct-nav-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.acct-nav-item{
    text-align: right;
    padding: 5px 8px 5px 5px;
    border-bottom: 1px solid #6E6E84;
    border-right: 1px solid #6E6E84;
    color: #6E6E84;
}

.acct-nav-item:hover{
    text-decoration: none;
    color: #333399;
}

.acct-update-form{
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.form-check-label{
    margin: 0 10px 0 10px;
}

.acct-btn{
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    color: #333399;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1vw;
}

.acct-btn:hover{
    background-color: #333399;
    color: #fff;
}

.acct-settings-actions{
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.acct-settings-actions a{
    color: #333399;
}

#email-settings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#email-settings-description p{
    color: #6E6E84;
}

#email-settings-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email-settings-body label{
    font-weight: normal;
}

#sec-settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#sec-settings-actions a{
    color: #333399;
    margin: 25px;
}

#acct-deactivation-actions{
    justify-content: space-around;
    align-items: flex-end;
}

.acct-action-warning{
    border-top: 1px solid #6E6E84;
    border-bottom: 1px solid #6E6E84;
    padding: 25px 10px 10px 10px;
    margin-top: 15px;
}

#acct-deletion-actions{
    justify-content: space-around;
    align-items: flex-end;
}

.acct-meta-game{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #6E6E84;
    margin: 5px;
}

.acct-meta-game-option label{
    font-weight: normal;
    border-left: 1px solid #6E6E84;
}

/* Footer */
footer{
    padding-top: 15px;
    border-top: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    font-weight:normal;
    font-size:10pt;
}

footer a{
    color: #000;
}

#footer-wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.footer-col{
    flex-basis: 30vw;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#footer-logo-col{
    flex-basis: 5vw;
}

#footer-logo{
    max-width: 125px;
    max-height: 125px;
}

#footer-nav-col{
    flex-basis: 50vw;
    align-items: center;
}

.footer-col-nav{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.footer-nav-section{
    display: flex;
    flex-direction: column;
}

#footer-social-col{
    flex-basis: 10vw;
}

#footer-social-links{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

#contact-mobile-banner-top, #contact-mobile-banner-bottom,
#contact-mobile-leaderboard-top{
    display: none;
}



/*============================
    RESPONSIVE/MEDIA QUERIES
=============================*/

/* Portrait Mode Phones */
@media only screen
and (max-width: 414px) {
    /* Site Info/FAQ */
    #site-info-container{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: flex-start;
    }
    
    #site-info-mobile-banner-top{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .advert-sidebar-flex{
        display: none;
    }
    
    .content-flex{
        width: 100%;
        align-items: flex-start;
    }
    
    .mobile-advert-responsive{
        display: flex;
        justify-content: center;
    }
    
    .section-header p{
        text-align: left;
    }
    
    .site-info-section{
        margin-bottom: 25px;
    }
    
    .site-info-section a{
        color: #333399;
    }
    
    .site-info-section p{
        text-align: left;
    }

    /* Contact Page */
    #contact-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    #contact-mobile-banner-top, #contact-mobile-banner-bottom{
        display: block;
    }
    
    #contact-mobile-banner-bottom{
        margin-top: 25px;
    }
    
    #contact-container .content-flex{
        width: 100%;
    }
    
    #contact-container .section-header{
        margin-top: 25px;
    }
    
    #contact-container .section-header p{
        text-align: left;
    }
    
    #contact-flex{
        width: 100%;
    }
    
    #contact-actions{
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }
    
    #contact-actions .btn{
        width: 30vw;
        font-size: 4vw;
    }
    
    #contact-sidebar-lg-rectangle{
        display: none;
    }
    
    #contact-page-sidebar{
        margin-top: 15px;
        width: 100%;
        justify-content: flex-start;
    }
    
    #contact-page-info{
        width: 100%;
        padding-top: 25px;
        align-items: center;
    }
    
    /* Account Registration */
    #registration-wrapper{
        display: flex;
        justify-content: center;
    }
    
    .registration{
        width: 100%;
        margin: 0 auto;
    }
    
    #registration-header{
        border-bottom: none;
    }
    
    #user-acct-info{
        flex-direction: column;
        justify-content: space-around;
    }
    
    .registration-form-section{
        width: 100%;
        flex-basis: 48%;
    }
    
    #registration-meta{
        justify-content: space-around;
        align-items: center;
    }
    
    .registration-meta-game-logo{
        max-width: 125px;
    }
    
    #registration-actions{
        flex-direction: row;
        justify-content: center;
        margin-bottom: 25px;
    }
    
    #registration-actions .btn{
        width: 35vw;
        font-size: 3vw;
    }
    
    /* Login Page */
    #login-logo-top, #login-logo-bottom{
        display: none;
    }
    
    #login-credentials{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #login-credentials label{
        font-weight: bold;
        margin-top: 15px;
    }
    
    .login-actions{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .login-actions .btn{
        flex-basis: 5vh;
        margin-top: 25px;
        font-size: 4vw;
    }
    
    /* Account Views */
    .account-settings{
        flex-direction: column;
    }
    
    .acct-settings-header{
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
    }
    
    .acct-settings-header p{
        text-align: left;
    }
    
    .acct-settings-col{
        border-left: none;
        padding-left: 25px;
        display: flex;
        flex-direction: column;
    }
    
    .acct-update-form{
        width: 100%;
    }
    
    .acct-settings-actions{
        margin-top: 15px;
        justify-content: center;
    }
    
    .acct-btn{
        flex-basis: 40vw;
        height: 5vh;
        margin-top: 0;
        font-size: 4vw;
    }
    
    .acct-meta-game{
        width: 100%;
        flex-direction: column;
        border-bottom: 1px solid #6E6E84;
        margin: 5px;
    }
    
    .acct-meta-game-option{
        width: 100%;
        display: flex;
    }
    
    .acct-meta-game-option label{
        border-left: none;
    }
    
    #acct-deactivation-actions, #acct-deletion-actions{
        height: 10vh;
        margin-bottom: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #acct-deactivation-actions a, #acct-deletion-actions a{
        margin-top: 15px;
        text-align: center;
    }
    
    #acct-deactivation-actions .acct-btn, #acct-deletion-actions .acct-btn{
        flex-basis: 2vh;
    }
    
    #email-settings-description h3{
        font-size: 6vw;
    }
    
    #email-actions{
        height: 8vh;
        border-bottom: 1px solid #6E6E84;
    }
    
    #sec-settings{
        margin-top: 25px;
    }
    
    #sec-settings-actions{
        display: flex;
        flex-direction: column;
    }
    
    /* Footer */
    .footer-flex{
        margin: 0 auto;
        width: 90vw;
        height: 10vh;
        justify-content: center;
    }
    
    .footer-flex-col{
        flex-basis: 100%;
        flex-direction: column;
    }
    
    .footer-nav{
        background-color: yellow;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        flex-basis: 100%;
    }
    
    .footer-nav-item{
        padding: 10px;
    }
    
    .footer-nav-col{
        display: flex;
        flex-wrap: wrap;
    }
    
    #footer-logo-col{
        display: none;
    }
    
    #footer-social-col{
        display: none;
    }
    
    /* Footer */
    #footer-logo-col{
        display: none;
    }
    
    #footer-nav-col{
        flex-basis: 90vw;
    }

    #footer-social-col{
        display: none;
    }
}

@media only screen
and (min-width: 415px)
and (max-width: 740px) {
    /* Site Info/FAQ */
    #site-info-container{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: flex-start;
    }
    
    #site-info-mobile-banner-top{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .advert-sidebar-flex{
        display: none;
    }
    
    .content-flex{
        width: 100%;
        align-items: flex-start;
    }
    
    .mobile-advert-responsive{
        display: flex;
        justify-content: center;
    }
    
    .section-header p{
        text-align: left;
    }
    
    .site-info-section{
        margin-bottom: 25px;
    }
    
    .site-info-section a{
        color: #333399;
    }
    
    .site-info-section p{
        text-align: left;
    }
    
    /* Contact Page */
    #contact-container{
        width: 95%;
        height: 100%;
        margin-bottom: 125px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    #contact-mobile-banner-top, #contact-mobile-banner-bottom{
        display: inline-block;
    }
    
    #contact-mobile-banner-bottom{
        margin-top: 20px;
    }
    
    #contact-container .content-flex{
        width: 100%;
    }
    
    #contact-container .section-header{
        margin-top: 25px;
    }
    
    #contact-container .section-header p{
        text-align: left;
    }
    
    #contact-flex{
        width: 100%;
    }
    
    #contact-actions{
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }
    
    #contact-actions .btn{
        width: 30vw;
        font-size: 4vw;
    }
    
    #contact-sidebar-lg-rectangle{
        display: none;
    }
    
    #contact-page-sidebar{
        margin-top: 15px;
        width: 100%;
        justify-content: flex-start;
    }
    
    #contact-page-info{
        width: 100%;
        padding-top: 25px;
        align-items: center;
    }
    
    /* Account Registration */
    #registration-wrapper{
        display: flex;
        justify-content: center;
    }
    
    .registration{
        width: 100%;
        margin: 0 auto;
    }
    
    #registration-header{
        border-bottom: none;
    }
    
    #user-acct-info{
        justify-content: space-around;
    }
    
    .registration-form-section{
        flex-basis: 48%;
    }
    
    #registration-meta{
        justify-content: space-around;
        align-items: center;
    }
    
    .registration-meta-game-logo{
        max-width: 125px;
    }
    
    #registration-actions{
        flex-direction: row;
        justify-content: center;
        margin-bottom: 25px;
    }
    
    #registration-actions .btn{
        width: 35vw;
        font-size: 3vw;
    }
    
    /* Login Page */
    #login-logo-top, #login-logo-bottom{
        display: none;
    }
    
    #login-credentials{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .login-actions{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .login-actions .btn{
        flex-basis: 5vh;
        margin-top: 25px;
        font-size: 3vw;
    }
    
    /* Account Views */
    .acct-settings-header{
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
    }
    
    .acct-settings-header p{
        text-align: left;
    }
    
    .acct-settings-col{
        border-left: none;
        padding-left: 25px;
        display: flex;
        flex-direction: column;
    }
    
    .acct-update-form{
        width: 100%;
    }
    
    .acct-settings-actions{
        margin-top: 15px;
        justify-content: center;
    }
    
    .acct-btn{
        flex-basis: 20vw;
        margin-top: 0;
        font-size: 3vw;
    }
    
    .acct-meta-game{
        width: 100%;
        flex-direction: column;
        border-bottom: 1px solid #6E6E84;
        margin: 5px;
    }
    
    .acct-meta-game-option{
        width: 100%;
        display: flex;
    }
    
    .acct-meta-game-option label{
        border-left: none;
    }
    
    #acct-deactivation-actions, #acct-deletion-actions{
        margin-bottom: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #acct-deactivation-actions a, #acct-deletion-actions a{
        margin-top: 15px;
        text-align: center;
    }
    
    #acct-deactivation-actions .acct-btn, #acct-deletion-actions .acct-btn{
        flex-basis: 2vh;
    }
    
    #email-settings-description h3{
        font-size: 6vw;
    }
    
    #sec-settings{
        margin-top: 25px;
    }
    
    #sec-settings-actions{
        display: flex;
        flex-direction: column;
    }
}